USE [master]
GO
/****** Object:  Database [upu10905a_db]    Script Date: 12/10/17 9:16:37 PM ******/
CREATE DATABASE [upu10905a_db]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'upu10905a_db', FILENAME = N'C:\Program Files (x86)\Parallels\Plesk\Databases\MSSQL\MSSQL11.MSSQLSERVER2012\MSSQL\DATA\upu10905a_db.mdf' , SIZE = 5184KB , MAXSIZE = 1048576KB , FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'upu10905a_db_log', FILENAME = N'C:\Program Files (x86)\Parallels\Plesk\Databases\MSSQL\MSSQL11.MSSQLSERVER2012\MSSQL\DATA\upu10905a_db_log.ldf' , SIZE = 3840KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [upu10905a_db].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [upu10905a_db]
GO
/****** Object:  User [upu10905a_upup_admin]    Script Date: 12/10/17 9:16:37 PM ******/
CREATE USER [upu10905a_upup_admin] FOR LOGIN [upu10905a_upup_admin] WITH DEFAULT_SCHEMA=[upu10905a_upup_admin]
GO
ALTER ROLE [db_ddladmin] ADD MEMBER [upu10905a_upup_admin]
GO
ALTER ROLE [db_backupoperator] ADD MEMBER [upu10905a_upup_admin]
GO
ALTER ROLE [db_datareader] ADD MEMBER [upu10905a_upup_admin]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [upu10905a_upup_admin]
GO
/****** Object:  Schema [upu10905a_upup_admin]    Script Date: 12/10/17 9:16:38 PM ******/
CREATE SCHEMA [upu10905a_upup_admin]
GO
/****** Object:  UserDefinedFunction [dbo].[fChuyenCoDauThanhKhongDau]    Script Date: 12/10/17 9:16:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fChuyenCoDauThanhKhongDau](@inputVar NVARCHAR(MAX) )
RETURNS NVARCHAR(MAX)
AS
BEGIN    
    IF (@inputVar IS NULL OR @inputVar = '')  RETURN ''
   
    DECLARE @RT NVARCHAR(MAX)
    DECLARE @SIGN_CHARS NCHAR(256)
    DECLARE @UNSIGN_CHARS NCHAR (256)
 
    SET @SIGN_CHARS = N'ăâđêôơưàảãạáằẳẵặắầẩẫậấèẻẽẹéềểễệếìỉĩịíòỏõọóồổỗộốờởỡợớùủũụúừửữựứỳỷỹỵýĂÂĐÊÔƠƯÀẢÃẠÁẰẲẴẶẮẦẨẪẬẤÈẺẼẸÉỀỂỄỆẾÌỈĨỊÍÒỎÕỌÓỒỔỖỘỐỜỞỠỢỚÙỦŨỤÚỪỬỮỰỨỲỶỸỴÝ' + NCHAR(272) + NCHAR(208)
    SET @UNSIGN_CHARS = N'aadeoouaaaaaaaaaaaaaaaeeeeeeeeeeiiiiiooooooooooooooouuuuuuuuuuyyyyyAADEOOUAAAAAAAAAAAAAAAEEEEEEEEEEIIIIIOOOOOOOOOOOOOOOUUUUUUUUUUYYYYYDD'
 
    DECLARE @COUNTER int
    DECLARE @COUNTER1 int
   
    SET @COUNTER = 1
    WHILE (@COUNTER <= LEN(@inputVar))
    BEGIN  
        SET @COUNTER1 = 1
        WHILE (@COUNTER1 <= LEN(@SIGN_CHARS) + 1)
        BEGIN
            IF UNICODE(SUBSTRING(@SIGN_CHARS, @COUNTER1,1)) = UNICODE(SUBSTRING(@inputVar,@COUNTER ,1))
            BEGIN          
                IF @COUNTER = 1
                    SET @inputVar = SUBSTRING(@UNSIGN_CHARS, @COUNTER1,1) + SUBSTRING(@inputVar, @COUNTER+1,LEN(@inputVar)-1)      
                ELSE
                    SET @inputVar = SUBSTRING(@inputVar, 1, @COUNTER-1) +SUBSTRING(@UNSIGN_CHARS, @COUNTER1,1) + SUBSTRING(@inputVar, @COUNTER+1,LEN(@inputVar)- @COUNTER)
                BREAK
            END
            SET @COUNTER1 = @COUNTER1 +1
        END
        SET @COUNTER = @COUNTER +1
    END
    -- SET @inputVar = replace(@inputVar,' ','-')
    RETURN @inputVar
END
GO
/****** Object:  Table [dbo].[AppConfigs]    Script Date: 12/10/17 9:16:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AppConfigs](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Key] [int] NOT NULL,
	[Value] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AppConfigs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 12/10/17 9:16:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 12/10/17 9:16:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 12/10/17 9:16:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 12/10/17 9:16:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 12/10/17 9:16:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](128) NOT NULL,
	[AutoIncrementCode] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](max) NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
	[TempPoName] [nvarchar](max) NULL,
	[OrgName] [nvarchar](max) NULL,
	[DepartmentName] [nvarchar](max) NULL,
	[Address1] [nvarchar](max) NULL,
	[Address2] [nvarchar](max) NULL,
	[Address3] [nvarchar](max) NULL,
	[Address4] [nvarchar](max) NULL,
	[PostalCode] [nvarchar](max) NULL,
	[Fax] [nvarchar](max) NULL,
	[Webiste] [nvarchar](max) NULL,
	[IndustryId] [int] NULL,
	[ServiceId] [int] NULL,
	[NumberOfDesigner] [int] NULL,
	[NumberOfEmployee] [int] NULL,
	[KnowByid] [int] NULL,
	[Discriminator] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 12/10/17 9:16:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Name_en] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[Description_en] [nvarchar](max) NULL,
	[ImageUrl] [nvarchar](max) NULL,
	[MetaKeyword] [nvarchar](max) NULL,
	[MetaDescription] [nvarchar](max) NULL,
	[MetaKeyword_en] [nvarchar](max) NULL,
	[MetaDescription_en] [nvarchar](max) NULL,
	[ParentCategory_Id] [bigint] NULL,
 CONSTRAINT [PK_dbo.Categories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PostCategories]    Script Date: 12/10/17 9:16:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PostCategories](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[RootCategoryIdentifier] [int] NULL,
	[Name] [nvarchar](max) NULL,
	[Name_en] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[Description_en] [nvarchar](max) NULL,
	[MetaKeyword] [nvarchar](max) NULL,
	[MetaDescription] [nvarchar](max) NULL,
	[MetaKeyword_en] [nvarchar](max) NULL,
	[MetaDescription_en] [nvarchar](max) NULL,
	[ParentCategory_Id] [bigint] NULL,
 CONSTRAINT [PK_dbo.PostCategories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Posts]    Script Date: 12/10/17 9:16:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Posts](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](max) NULL,
	[Title_en] [nvarchar](max) NULL,
	[Content] [nvarchar](max) NULL,
	[Content_en] [nvarchar](max) NULL,
	[Sumary] [nvarchar](max) NULL,
	[Sumary_en] [nvarchar](max) NULL,
	[IsUserGuide] [bit] NOT NULL,
	[MetaKeyword] [nvarchar](max) NULL,
	[MetaDescription] [nvarchar](max) NULL,
	[MetaKeyword_en] [nvarchar](max) NULL,
	[MetaDescription_en] [nvarchar](max) NULL,
	[CreatedDate] [datetime] NOT NULL,
	[LastModifiedDate] [datetime] NOT NULL,
	[Category_Id] [bigint] NULL,
 CONSTRAINT [PK_dbo.Posts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductCarts]    Script Date: 12/10/17 9:16:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductCarts](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Quantity] [bigint] NOT NULL,
	[Customer_Id] [nvarchar](128) NULL,
	[ProductVariant_Id] [bigint] NULL,
 CONSTRAINT [PK_dbo.ProductCarts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 12/10/17 9:16:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](max) NULL,
	[Name] [nvarchar](max) NULL,
	[Name_en] [nvarchar](max) NULL,
	[Summary] [nvarchar](max) NULL,
	[Summary_en] [nvarchar](max) NULL,
	[ImageUrl] [nvarchar](max) NULL,
	[PdfUrl] [nvarchar](max) NULL,
	[LinkGuide] [nvarchar](max) NULL,
	[Cad2dUrl] [nvarchar](max) NULL,
	[Cad3dUrl] [nvarchar](max) NULL,
	[MetaKeyword] [nvarchar](max) NULL,
	[MetaDescription] [nvarchar](max) NULL,
	[MetaKeyword_en] [nvarchar](max) NULL,
	[MetaDescription_en] [nvarchar](max) NULL,
	[Category_Id] [bigint] NULL,
 CONSTRAINT [PK_dbo.Products] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductVariants]    Script Date: 12/10/17 9:16:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductVariants](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[VariantName] [nvarchar](max) NULL,
	[VariantCode] [nvarchar](max) NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[OnHand] [decimal](18, 2) NOT NULL,
	[BrandName] [nvarchar](max) NULL,
	[Origin] [nvarchar](max) NULL,
	[Product_Id] [bigint] NULL,
	[ProductVariantUnit_Id] [bigint] NULL,
 CONSTRAINT [PK_dbo.ProductVariants] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductVariantUnits]    Script Date: 12/10/17 9:16:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductVariantUnits](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.ProductVariantUnits] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PurchaseOrderDetails]    Script Date: 12/10/17 9:16:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PurchaseOrderDetails](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Quantity] [bigint] NOT NULL,
	[ShipDate] [datetime] NULL,
	[State] [int] NOT NULL,
	[Product_Id] [bigint] NULL,
	[PurchaseOrder_Id] [bigint] NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[TotalAmount] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_dbo.PurchaseOrderDetails] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PurchaseOrders]    Script Date: 12/10/17 9:16:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PurchaseOrders](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](max) NULL,
	[Name] [nvarchar](max) NULL,
	[State] [int] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[Customer_Id] [nvarchar](128) NULL,
	[IsDeleted] [bit] NOT NULL,
	[PaymentMethod] [int] NOT NULL,
	[CustomerAddress] [nvarchar](max) NULL,
	[CustomerPhone] [nvarchar](max) NULL,
	[CustomerEmail] [nvarchar](max) NULL,
	[CustomerWebsite] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.PurchaseOrders] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ShipDateSettingProductVariants]    Script Date: 12/10/17 9:16:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShipDateSettingProductVariants](
	[ShipDateSetting_Id] [bigint] NOT NULL,
	[ProductVariant_Id] [bigint] NOT NULL,
 CONSTRAINT [PK_dbo.ShipDateSettingProductVariants] PRIMARY KEY CLUSTERED 
(
	[ShipDateSetting_Id] ASC,
	[ProductVariant_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ShipDateSettings]    Script Date: 12/10/17 9:16:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShipDateSettings](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[QuantityOrderMax] [int] NOT NULL,
	[TargetDateNumber] [int] NOT NULL,
 CONSTRAINT [PK_dbo.ShipDateSettings] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'624057f6-b451-4c1d-abf9-8f2a4c6282f9', N'Admin')
GO
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'cc7aa678-bd3e-4a65-9a96-87a5f7ed92a0', N'Customer')
GO
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'548068d2-4fa6-49ee-9a41-3d4c932cc98b', N'Editor')
GO
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'a136cad6-b954-4db5-a029-4af58450eab9', N'624057f6-b451-4c1d-abf9-8f2a4c6282f9')
GO
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'de28dabf-7047-47d2-91e0-5230c2b8b087', N'624057f6-b451-4c1d-abf9-8f2a4c6282f9')
GO
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'b6413b96-186e-4c5e-9b7d-bd55440939ae', N'cc7aa678-bd3e-4a65-9a96-87a5f7ed92a0')
GO
SET IDENTITY_INSERT [dbo].[AspNetUsers] ON 
GO
SET IDENTITY_INSERT [dbo].[AspNetUsers] OFF
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 
GO
INSERT [dbo].[Categories] ([Id], [Name], [Name_en], [Description], [Description_en], [ImageUrl], [MetaKeyword], [MetaDescription], [MetaKeyword_en], [MetaDescription_en], [ParentCategory_Id]) VALUES (2, N'Puly Đai Răng', N'Timing  Pulleys', N'<p>Puly cho d&acirc;y đai răng c&aacute;c loại</p>
', N'<p>&nbsp;Timing pulley for automaiton</p>
', N'20171210160558577_64fbe08b04984e01b54e17257105834a.png', N'uly đai răng ', N'Puly đai răng', N'Timing Belts', N'Timing belts and pulley', 1)
GO
INSERT [dbo].[Categories] ([Id], [Name], [Name_en], [Description], [Description_en], [ImageUrl], [MetaKeyword], [MetaDescription], [MetaKeyword_en], [MetaDescription_en], [ParentCategory_Id]) VALUES (3, N'Puly -Then', N'Pulleys-Key', N'<p>D&acirc;y puly đai răng&nbsp;c&aacute;c loại: S2M, S3M, S5M, S8M, S14M, XL, L, T5, T10</p>
', N'<p>Including timing pulleys&nbsp;:&nbsp; S2M, S3M, S5M, S8M, S14M, XL, L, T5, T10</p>
', N'20171210154737305_8207bc66b69144e594db01b48b9f0ad9.png', N'Puly đai răng', N'Puly đai răng', N'Timing Pulleys', N'Timing Pulley', 2)
GO
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[PostCategories] ON 
GO
INSERT [dbo].[PostCategories] ([Id], [RootCategoryIdentifier], [Name], [Name_en], [Description], [Description_en], [MetaKeyword], [MetaDescription], [MetaKeyword_en], [MetaDescription_en], [ParentCategory_Id]) VALUES (1, 1, N'Công nghệ', N'Công nghệ', N'<p>sdas</p>
', N'<p>dasd</p>
', N'sadsa', N'dsa', NULL, NULL, NULL)
GO
INSERT [dbo].[PostCategories] ([Id], [RootCategoryIdentifier], [Name], [Name_en], [Description], [Description_en], [MetaKeyword], [MetaDescription], [MetaKeyword_en], [MetaDescription_en], [ParentCategory_Id]) VALUES (2, 2, N'Hướng dẫn sử dụng', N'User Manual', N'<p>hướng dẫn sử dụng cho người d&ugrave;ng</p>
', N'<p>user manual</p>
', N'Từ khóa cho trang hướng dẫn sử dụng', N'các  thông tin về hướng dẫn sử dụng', NULL, NULL, NULL)
GO
INSERT [dbo].[PostCategories] ([Id], [RootCategoryIdentifier], [Name], [Name_en], [Description], [Description_en], [MetaKeyword], [MetaDescription], [MetaKeyword_en], [MetaDescription_en], [ParentCategory_Id]) VALUES (3, 3, N'Triển lãm sự kiện', N'Event', N'<p>event</p>
', N'<p>&aacute;d</p>
', N'2', N'1', NULL, NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[PostCategories] OFF
GO
SET IDENTITY_INSERT [dbo].[Posts] ON 
GO
SET IDENTITY_INSERT [dbo].[Posts] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductCarts] ON 
GO
INSERT [dbo].[ProductCarts] ([Id], [Quantity], [Customer_Id], [ProductVariant_Id]) VALUES (58, 2, NULL, 4)
GO
INSERT [dbo].[ProductCarts] ([Id], [Quantity], [Customer_Id], [ProductVariant_Id]) VALUES (59, 3, NULL, 2)
GO
INSERT [dbo].[ProductCarts] ([Id], [Quantity], [Customer_Id], [ProductVariant_Id]) VALUES (60, 2, NULL, 4)
GO
SET IDENTITY_INSERT [dbo].[ProductCarts] OFF
GO
SET IDENTITY_INSERT [dbo].[Products] ON 
GO
INSERT [dbo].[Products] ([Id], [Code], [Name], [Name_en], [Summary], [Summary_en], [ImageUrl], [PdfUrl], [LinkGuide], [Cad2dUrl], [Cad3dUrl], [MetaKeyword], [MetaDescription], [MetaKeyword_en], [MetaDescription_en], [Category_Id]) VALUES (1, N'CR', N'S2M', N'S2M', N'<p>D&acirc;y đai răng S2M</p>
', N'<p>Timing Belts S2M</p>
', N'20171210145416280_25f461972ffa4c9f9f5f8957e0505e55.png', N'20171125154826260_91ba76993f604ed482b570898f238d01.pdf', N'https://www.google.com', NULL, NULL, N'Dây đai răng', N'Dây đai răng S2M', N'Timing belts S2M', N'Timing belts S2M', 3)
GO
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductVariants] ON 
GO
INSERT [dbo].[ProductVariants] ([Id], [VariantName], [VariantCode], [Price], [OnHand], [BrandName], [Origin], [Product_Id], [ProductVariantUnit_Id]) VALUES (2, N'ttt', N'AAA', CAST(3000000.00 AS Decimal(18, 2)), CAST(10.00 AS Decimal(18, 2)), N'GHO', N'Japan', 1, 2)
GO
INSERT [dbo].[ProductVariants] ([Id], [VariantName], [VariantCode], [Price], [OnHand], [BrandName], [Origin], [Product_Id], [ProductVariantUnit_Id]) VALUES (3, N'YYY', N'BBB', CAST(34.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), N'sdasf', N'dasds', 1, 3)
GO
INSERT [dbo].[ProductVariants] ([Id], [VariantName], [VariantCode], [Price], [OnHand], [BrandName], [Origin], [Product_Id], [ProductVariantUnit_Id]) VALUES (4, N'TTT', N'CCC', CAST(25000.00 AS Decimal(18, 2)), CAST(10.00 AS Decimal(18, 2)), N'Brazo', N'New York', 1, 2)
GO
SET IDENTITY_INSERT [dbo].[ProductVariants] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductVariantUnits] ON 
GO
INSERT [dbo].[ProductVariantUnits] ([Id], [Name]) VALUES (2, N'Cái')
GO
INSERT [dbo].[ProductVariantUnits] ([Id], [Name]) VALUES (3, N'Bộ')
GO
SET IDENTITY_INSERT [dbo].[ProductVariantUnits] OFF
GO
SET IDENTITY_INSERT [dbo].[PurchaseOrderDetails] ON 
GO
INSERT [dbo].[PurchaseOrderDetails] ([Id], [Quantity], [ShipDate], [State], [Product_Id], [PurchaseOrder_Id], [Price], [TotalAmount]) VALUES (1, 1, CAST(N'2017-12-04T23:02:07.203' AS DateTime), 2, 3, 1, CAST(10000.00 AS Decimal(18, 2)), CAST(10000.00 AS Decimal(18, 2)))
GO
INSERT [dbo].[PurchaseOrderDetails] ([Id], [Quantity], [ShipDate], [State], [Product_Id], [PurchaseOrder_Id], [Price], [TotalAmount]) VALUES (2, 1, CAST(N'2017-12-04T23:02:07.263' AS DateTime), 2, 6, 1, CAST(10000.00 AS Decimal(18, 2)), CAST(10000.00 AS Decimal(18, 2)))
GO
INSERT [dbo].[PurchaseOrderDetails] ([Id], [Quantity], [ShipDate], [State], [Product_Id], [PurchaseOrder_Id], [Price], [TotalAmount]) VALUES (4, 4, CAST(N'2017-12-04T23:15:29.157' AS DateTime), 2, 4, 3, CAST(10000.00 AS Decimal(18, 2)), CAST(40000.00 AS Decimal(18, 2)))
GO
SET IDENTITY_INSERT [dbo].[PurchaseOrderDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[PurchaseOrders] ON 
GO
INSERT [dbo].[PurchaseOrders] ([Id], [Code], [Name], [State], [CreatedDate], [Customer_Id], [IsDeleted], [PaymentMethod], [CustomerAddress], [CustomerPhone], [CustomerEmail], [CustomerWebsite]) VALUES (1, N'171201110134', N'PO_Order', 5, CAST(N'2017-12-01T23:02:07.140' AS DateTime), N'e2043988-480e-4689-8532-d512b4a45f84', 0, 0, NULL, NULL, NULL, NULL)
GO
INSERT [dbo].[PurchaseOrders] ([Id], [Code], [Name], [State], [CreatedDate], [Customer_Id], [IsDeleted], [PaymentMethod], [CustomerAddress], [CustomerPhone], [CustomerEmail], [CustomerWebsite]) VALUES (3, N'171201111513', N'EEE', 2, CAST(N'2017-12-01T23:15:29.133' AS DateTime), N'b7b0f4a0-d42b-4081-928f-91b2210a023e', 0, 2, NULL, NULL, NULL, NULL)
GO
INSERT [dbo].[PurchaseOrders] ([Id], [Code], [Name], [State], [CreatedDate], [Customer_Id], [IsDeleted], [PaymentMethod], [CustomerAddress], [CustomerPhone], [CustomerEmail], [CustomerWebsite]) VALUES (6, N'171203100530', N'RRR', 1, CAST(N'2017-12-03T22:06:17.707' AS DateTime), N'b7b0f4a0-d42b-4081-928f-91b2210a023e', 0, 0, NULL, NULL, NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[PurchaseOrders] OFF
GO
INSERT [dbo].[ShipDateSettingProductVariants] ([ShipDateSetting_Id], [ProductVariant_Id]) VALUES (1, 2)
GO
INSERT [dbo].[ShipDateSettingProductVariants] ([ShipDateSetting_Id], [ProductVariant_Id]) VALUES (2, 2)
GO
INSERT [dbo].[ShipDateSettingProductVariants] ([ShipDateSetting_Id], [ProductVariant_Id]) VALUES (1, 3)
GO
SET IDENTITY_INSERT [dbo].[ShipDateSettings] ON 
GO
INSERT [dbo].[ShipDateSettings] ([Id], [QuantityOrderMax], [TargetDateNumber]) VALUES (1, 10, 3)
GO
INSERT [dbo].[ShipDateSettings] ([Id], [QuantityOrderMax], [TargetDateNumber]) VALUES (2, 50, 7)
GO
INSERT [dbo].[ShipDateSettings] ([Id], [QuantityOrderMax], [TargetDateNumber]) VALUES (3, 120, 12)
GO
SET IDENTITY_INSERT [dbo].[ShipDateSettings] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [RoleNameIndex]    Script Date: 12/10/17 9:16:41 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [RoleNameIndex] ON [dbo].[AspNetRoles]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserId]    Script Date: 12/10/17 9:16:42 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserClaims]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserId]    Script Date: 12/10/17 9:16:42 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserLogins]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_RoleId]    Script Date: 12/10/17 9:16:42 PM ******/
CREATE NONCLUSTERED INDEX [IX_RoleId] ON [dbo].[AspNetUserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserId]    Script Date: 12/10/17 9:16:42 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserRoles]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UserNameIndex]    Script Date: 12/10/17 9:16:42 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UserNameIndex] ON [dbo].[AspNetUsers]
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ParentCategory_Id]    Script Date: 12/10/17 9:16:42 PM ******/
CREATE NONCLUSTERED INDEX [IX_ParentCategory_Id] ON [dbo].[Categories]
(
	[ParentCategory_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ParentCategory_Id]    Script Date: 12/10/17 9:16:42 PM ******/
CREATE NONCLUSTERED INDEX [IX_ParentCategory_Id] ON [dbo].[PostCategories]
(
	[ParentCategory_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Category_Id]    Script Date: 12/10/17 9:16:42 PM ******/
CREATE NONCLUSTERED INDEX [IX_Category_Id] ON [dbo].[Posts]
(
	[Category_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Customer_Id]    Script Date: 12/10/17 9:16:42 PM ******/
CREATE NONCLUSTERED INDEX [IX_Customer_Id] ON [dbo].[ProductCarts]
(
	[Customer_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProductVariant_Id]    Script Date: 12/10/17 9:16:42 PM ******/
CREATE NONCLUSTERED INDEX [IX_ProductVariant_Id] ON [dbo].[ProductCarts]
(
	[ProductVariant_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Category_Id]    Script Date: 12/10/17 9:16:42 PM ******/
CREATE NONCLUSTERED INDEX [IX_Category_Id] ON [dbo].[Products]
(
	[Category_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Product_Id]    Script Date: 12/10/17 9:16:42 PM ******/
CREATE NONCLUSTERED INDEX [IX_Product_Id] ON [dbo].[ProductVariants]
(
	[Product_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProductVariantUnit_Id]    Script Date: 12/10/17 9:16:42 PM ******/
CREATE NONCLUSTERED INDEX [IX_ProductVariantUnit_Id] ON [dbo].[ProductVariants]
(
	[ProductVariantUnit_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Product_Id]    Script Date: 12/10/17 9:16:42 PM ******/
CREATE NONCLUSTERED INDEX [IX_Product_Id] ON [dbo].[PurchaseOrderDetails]
(
	[Product_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_PurchaseOrder_Id]    Script Date: 12/10/17 9:16:42 PM ******/
CREATE NONCLUSTERED INDEX [IX_PurchaseOrder_Id] ON [dbo].[PurchaseOrderDetails]
(
	[PurchaseOrder_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Customer_Id]    Script Date: 12/10/17 9:16:42 PM ******/
CREATE NONCLUSTERED INDEX [IX_Customer_Id] ON [dbo].[PurchaseOrders]
(
	[Customer_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProductVariant_Id]    Script Date: 12/10/17 9:16:42 PM ******/
CREATE NONCLUSTERED INDEX [IX_ProductVariant_Id] ON [dbo].[ShipDateSettingProductVariants]
(
	[ProductVariant_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ShipDateSetting_Id]    Script Date: 12/10/17 9:16:42 PM ******/
CREATE NONCLUSTERED INDEX [IX_ShipDateSetting_Id] ON [dbo].[ShipDateSettingProductVariants]
(
	[ShipDateSetting_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PurchaseOrderDetails] ADD  DEFAULT ((0)) FOR [Price]
GO
ALTER TABLE [dbo].[PurchaseOrderDetails] ADD  DEFAULT ((0)) FOR [TotalAmount]
GO
ALTER TABLE [dbo].[PurchaseOrders] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[PurchaseOrders] ADD  DEFAULT ((0)) FOR [PaymentMethod]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[Categories]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Categories_dbo.Categories_ParentCategory_Id] FOREIGN KEY([ParentCategory_Id])
REFERENCES [dbo].[Categories] ([Id])
GO
ALTER TABLE [dbo].[Categories] CHECK CONSTRAINT [FK_dbo.Categories_dbo.Categories_ParentCategory_Id]
GO
ALTER TABLE [dbo].[PostCategories]  WITH CHECK ADD  CONSTRAINT [FK_dbo.PostCategories_dbo.PostCategories_ParentCategory_Id] FOREIGN KEY([ParentCategory_Id])
REFERENCES [dbo].[PostCategories] ([Id])
GO
ALTER TABLE [dbo].[PostCategories] CHECK CONSTRAINT [FK_dbo.PostCategories_dbo.PostCategories_ParentCategory_Id]
GO
ALTER TABLE [dbo].[Posts]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Posts_dbo.PostCategories_Category_Id] FOREIGN KEY([Category_Id])
REFERENCES [dbo].[PostCategories] ([Id])
GO
ALTER TABLE [dbo].[Posts] CHECK CONSTRAINT [FK_dbo.Posts_dbo.PostCategories_Category_Id]
GO
ALTER TABLE [dbo].[ProductCarts]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ProductCarts_dbo.AspNetUsers_Customer_Id] FOREIGN KEY([Customer_Id])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[ProductCarts] CHECK CONSTRAINT [FK_dbo.ProductCarts_dbo.AspNetUsers_Customer_Id]
GO
ALTER TABLE [dbo].[ProductCarts]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ProductCarts_dbo.ProductVariants_ProductVariant_Id] FOREIGN KEY([ProductVariant_Id])
REFERENCES [dbo].[ProductVariants] ([Id])
GO
ALTER TABLE [dbo].[ProductCarts] CHECK CONSTRAINT [FK_dbo.ProductCarts_dbo.ProductVariants_ProductVariant_Id]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Products_dbo.Categories_Category_Id] FOREIGN KEY([Category_Id])
REFERENCES [dbo].[Categories] ([Id])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_dbo.Products_dbo.Categories_Category_Id]
GO
ALTER TABLE [dbo].[ProductVariants]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ProductVariants_dbo.Products_Product_Id] FOREIGN KEY([Product_Id])
REFERENCES [dbo].[Products] ([Id])
GO
ALTER TABLE [dbo].[ProductVariants] CHECK CONSTRAINT [FK_dbo.ProductVariants_dbo.Products_Product_Id]
GO
ALTER TABLE [dbo].[ProductVariants]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ProductVariants_dbo.ProductVariantUnits_ProductVariantUnit_Id] FOREIGN KEY([ProductVariantUnit_Id])
REFERENCES [dbo].[ProductVariantUnits] ([Id])
GO
ALTER TABLE [dbo].[ProductVariants] CHECK CONSTRAINT [FK_dbo.ProductVariants_dbo.ProductVariantUnits_ProductVariantUnit_Id]
GO
ALTER TABLE [dbo].[PurchaseOrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_dbo.PurchaseOrderDetails_dbo.ProductVariants_Product_Id] FOREIGN KEY([Product_Id])
REFERENCES [dbo].[ProductVariants] ([Id])
GO
ALTER TABLE [dbo].[PurchaseOrderDetails] CHECK CONSTRAINT [FK_dbo.PurchaseOrderDetails_dbo.ProductVariants_Product_Id]
GO
ALTER TABLE [dbo].[PurchaseOrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_dbo.PurchaseOrderDetails_dbo.PurchaseOrders_PurchaseOrder_Id] FOREIGN KEY([PurchaseOrder_Id])
REFERENCES [dbo].[PurchaseOrders] ([Id])
GO
ALTER TABLE [dbo].[PurchaseOrderDetails] CHECK CONSTRAINT [FK_dbo.PurchaseOrderDetails_dbo.PurchaseOrders_PurchaseOrder_Id]
GO
ALTER TABLE [dbo].[PurchaseOrders]  WITH CHECK ADD  CONSTRAINT [FK_dbo.PurchaseOrders_dbo.AspNetUsers_Customer_Id] FOREIGN KEY([Customer_Id])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[PurchaseOrders] CHECK CONSTRAINT [FK_dbo.PurchaseOrders_dbo.AspNetUsers_Customer_Id]
GO
ALTER TABLE [dbo].[ShipDateSettingProductVariants]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ShipDateSettingProductVariants_dbo.ProductVariants_ProductVariant_Id] FOREIGN KEY([ProductVariant_Id])
REFERENCES [dbo].[ProductVariants] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ShipDateSettingProductVariants] CHECK CONSTRAINT [FK_dbo.ShipDateSettingProductVariants_dbo.ProductVariants_ProductVariant_Id]
GO
ALTER TABLE [dbo].[ShipDateSettingProductVariants]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ShipDateSettingProductVariants_dbo.ShipDateSettings_ShipDateSetting_Id] FOREIGN KEY([ShipDateSetting_Id])
REFERENCES [dbo].[ShipDateSettings] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ShipDateSettingProductVariants] CHECK CONSTRAINT [FK_dbo.ShipDateSettingProductVariants_dbo.ShipDateSettings_ShipDateSetting_Id]
GO
/****** Object:  StoredProcedure [upu10905a_upup_admin].[SearchForPostByTitle]    Script Date: 12/10/17 9:16:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [upu10905a_upup_admin].[SearchForPostByTitle]
	@term NVARCHAR(MAX)
AS
BEGIN

	DECLARE @term_ko_dau NVARCHAR(MAX) = LOWER(LTRIM(RTRIM( dbo.fChuyenCoDauThanhKhongDau(@term) )));
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT * FROM Posts
	WHERE 
	LOWER(LTRIM(RTRIM( dbo.fChuyenCoDauThanhKhongDau(Posts.Title)))) LIKE '%' + @term_ko_dau +'%'
	OR LOWER(LTRIM(RTRIM( dbo.fChuyenCoDauThanhKhongDau(Posts.Title_en)))) LIKE '%' + @term_ko_dau +'%'	
	OR LOWER(LTRIM(RTRIM( dbo.fChuyenCoDauThanhKhongDau(Posts.MetaDescription)))) LIKE '%' + @term_ko_dau +'%'	
	OR LOWER(LTRIM(RTRIM( dbo.fChuyenCoDauThanhKhongDau(Posts.MetaDescription_en)))) LIKE '%' + @term_ko_dau +'%'	

END
GO
/****** Object:  StoredProcedure [upu10905a_upup_admin].[SearchForPostContent]    Script Date: 12/10/17 9:16:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [upu10905a_upup_admin].[SearchForPostContent]
	@term NVARCHAR(MAX)
AS
BEGIN

	DECLARE @term_ko_dau NVARCHAR(MAX) = LOWER(LTRIM(RTRIM( dbo.fChuyenCoDauThanhKhongDau(@term) )));
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT * FROM Posts
	WHERE 
	LOWER(LTRIM(RTRIM( dbo.fChuyenCoDauThanhKhongDau(Posts.Content)))) LIKE '%' + @term_ko_dau +'%'
	OR LOWER(LTRIM(RTRIM( dbo.fChuyenCoDauThanhKhongDau(Posts.Content_en)))) LIKE '%' + @term_ko_dau +'%'	

END
GO
/****** Object:  StoredProcedure [upu10905a_upup_admin].[SearchForProduct]    Script Date: 12/10/17 9:16:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [upu10905a_upup_admin].[SearchForProduct]
	@term NVARCHAR(MAX)
AS
BEGIN

	DECLARE @term_ko_dau NVARCHAR(MAX) = LOWER(LTRIM(RTRIM( dbo.fChuyenCoDauThanhKhongDau(@term) )));
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT * FROM Products
	WHERE 
	LOWER(LTRIM(RTRIM( dbo.fChuyenCoDauThanhKhongDau(Products.[Name])))) LIKE '%' + @term_ko_dau +'%'
	OR LOWER(LTRIM(RTRIM( dbo.fChuyenCoDauThanhKhongDau(Products.[Name_en])))) LIKE '%' + @term_ko_dau +'%'
	OR LOWER(LTRIM(RTRIM( dbo.fChuyenCoDauThanhKhongDau(Products.Code)))) LIKE '%' + @term_ko_dau +'%'
	OR LOWER(LTRIM(RTRIM( dbo.fChuyenCoDauThanhKhongDau(Products.MetaDescription)))) LIKE '%' + @term_ko_dau +'%'
	OR LOWER(LTRIM(RTRIM( dbo.fChuyenCoDauThanhKhongDau(Products.MetaDescription_en)))) LIKE '%' + @term_ko_dau +'%'

END
GO
USE [master]
GO
