
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="subject-category">
    <div class="row">
        <div class="col-md-3">
            @{Html.RenderPartial("_MenuPostPartial");}
        </div>
        <div class="col-md-9">
            <div class="category-menu">
                <ul>
                    <li>
                        Bộ truyền động
                        <ul>
                            <li><a href="javascript:void(0)">Bộ truyền đai răng</a></li>
                            <li><a href="javascript:void(0)">Bộ truyền đai thang</a></li>
                            <li><a href="javascript:void(0)">Bộ truyền đai tròn</a></li>
                            <li><a href="javascript:void(0)">Bộ truyền đai xích</a></li>
                            <li><a href="javascript:void(0)">Khớp nối</a></li>
                            <li><a href="javascript:void(0)">Vòng siết trục</a></li>
                        </ul>
                    </li>
                    <li>
                        Bộ dẫn động
                        <ul>
                            <li><a href="javascript:void(0)">Ray trượt</a></li>
                            <li><a href="javascript:void(0)">Thanh trượt bạc trược</a></li>
                            <li><a href="javascript:void(0)">Bạn đạn trực quay</a></li>
                        </ul>
                    </li>
                    <li>
                        Bộ truyền động
                        <ul>
                            <li><a href="javascript:void(0)">Bộ truyền đai răng</a></li>
                            <li><a href="javascript:void(0)">Bộ truyền đai thang</a></li>
                            <li><a href="javascript:void(0)">Bộ truyền đai tròn</a></li>
                            <li><a href="javascript:void(0)">Bộ truyền đai xích</a></li>
                            <li><a href="javascript:void(0)">Khớp nối</a></li>
                            <li><a href="javascript:void(0)">Vòng siết trục</a></li>
                        </ul>
                    </li>
                    <li>
                        Bộ dẫn động
                        <ul>
                            <li><a href="javascript:void(0)">Ray trượt</a></li>
                            <li><a href="javascript:void(0)">Thanh trượt bạc trược</a></li>
                            <li><a href="javascript:void(0)">Bạn đạn trực quay</a></li>
                        </ul>
                    </li>
                    <li>
                        Bộ truyền động
                        <ul>
                            <li><a href="javascript:void(0)">Bộ truyền đai răng</a></li>
                            <li><a href="javascript:void(0)">Bộ truyền đai thang</a></li>
                            <li><a href="javascript:void(0)">Bộ truyền đai tròn</a></li>
                            <li><a href="javascript:void(0)">Bộ truyền đai xích</a></li>
                            <li><a href="javascript:void(0)">Khớp nối</a></li>
                            <li><a href="javascript:void(0)">Vòng siết trục</a></li>
                        </ul>
                    </li>
                    <li>
                        Bộ dẫn động
                        <ul>
                            <li><a href="javascript:void(0)">Ray trượt</a></li>
                            <li><a href="javascript:void(0)">Thanh trượt bạc trược</a></li>
                            <li><a href="javascript:void(0)">Bạn đạn trực quay</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

