@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<table id="example" class="table">
    <thead>
        <tr>
            <th>OrgName</th>
            <th>Email</th>
            <th>PhoneNumber</th>
            <th>DepartmentName</th>
            <th>Address1</th>
            <th>PostalCode</th>
            <th>Fax</th>
            <th>Webiste</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th>OrgName</th>
            <th>Email</th>
            <th>PhoneNumber</th>
            <th>DepartmentName</th>
            <th>Address1</th>
            <th>PostalCode</th>
            <th>Fax</th>
            <th>Webiste</th>
        </tr>
    </tfoot>
</table>

<style>
    #example_processing {
        visibility: collapse;
        height: 0px;
    }
</style>

@section AddScriptToBody{

    <script type="text/javascript">
        $(document).ready(function () {
            $('#example')
                .on('preInit.dt', function (e, settings, data) {
                    $('.dataTables_scroll').LoadingOverlay("show");
                })
                .on('preXhr.dt', function (e, settings, data) {
                    $('.dataTables_scroll').LoadingOverlay("show");
                })
                .on('xhr.dt', function (e, settings, data) {
                    $('.dataTables_scroll').LoadingOverlay("hide");
                })
                .DataTable({
                processing: true,
                serverSide: true,
                ajax: { url: "CustomerList/", type: "POST" },
                scrollY: "300px",
                scrollCollapse: true,
                columns: [
                    { data: "OrgName" },
                    { data: "Email" },
                    { data: "PhoneNumber" },
                    { data: "DepartmentName" },
                    { data: "Address1" },
                    { data: "PostalCode" },
                    { data: "Fax" },
                    { data: "Webiste" },
                ]
            });
        });
    </script>
}