@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table id="example" class="table">
    <thead>
        <tr>
            <th>OrgName</th>
            <th>Email</th>
            <th>PhoneNumber</th>
            <th>UserName</th>
            <th>DepartmentName</th>
            <th>Address1</th>
            <th>PostalCode</th>
            <th>Fax</th>
            <th>Webiste</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th>OrgName</th>
            <th>Email</th>
            <th>PhoneNumber</th>
            <th>UserName</th>
            <th>DepartmentName</th>
            <th>Address1</th>
            <th>PostalCode</th>
            <th>Fax</th>
            <th>Webiste</th>
        </tr>
    </tfoot>
</table>

@section AddScriptToBody{

    <script type="text/javascript">
        $(document).ready(function () {
            $('#example').DataTable({
                "processing": true,
                "serverSide": true,
                "ajax": "CustomerList/"
            });
        });
    </script>
}