@{
    ViewBag.Title = "ManageCustomers";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}



@using Upup.Helpers
<section class="content-header">
    <h1>
        Quản lý người dùng hệ thống
        <small>Preview</small>
    </h1>
    <ol class="breadcrumb">
        <li>@Html.ActionSiteMap("AdminConsole", "Admin", null, "Tổng quan", new { @class = "fa fa-dashboard" })</li>
        <li class="active">Quản lý người dùng hệ thống</li>
    </ol>
</section>



<section class="content collapse" id="collapseExample">
    
    <div class="box box-primary">
        <!-- form start -->
        <form id="mainform" role="form" autocomplete="off" method="post">
            <div class="box-body">
                <input class="hidden" name="Id" id="Id" value="" />
                <div class="form-group">
                    <label for="Role">Vai trò</label>
                    <select name="Role" id="Role" class="form-control"></select>
                </div>
                <div class="form-group">
                    <label for="SkipEmailConfirmation"><input name="SkipEmailConfirmation" id="SkipEmailConfirmation" type="checkbox" value="" /> Bỏ qua xác thực email</label>
                </div>
                <div class="form-group">
                    <label for="Email">Email</label>
                    <input name="Email" id="Email" class="form-control" placeholder="Nhập địa chỉ Email" />
                </div>
                <div class="form-group">
                    <label for="Password">Password</label>
                    <input name="Password" id="Password" autocomplete="off" type="password" class="form-control" placeholder="Nhập mật khẩu" />
                </div>
                <div class="form-group">
                    <label for="FullName">Họ tên</label>
                    <input name="FullName" id="FullName" type="text" class="form-control" placeholder="Nhập họ tên" />
                </div>
                <div class="form-group">
                    <label for="PhoneNumber">Số điện thoại</label>
                    <input name="PhoneNumber" id="PhoneNumber" type="text" class="form-control" placeholder="Nhập số điện thoại" />
                </div>

            </div><!-- /.box-body -->

            <div class="box-footer">
                <button type="reset" id="resetFormButton" class="hidden"></button>
                <button type="submit" class="btn btn-primary">Xác nhận</button>
                <a id="Close" class="btn btn-danger" onclick="$('#collapseExample').collapse('hide'); $('#addNewUserbtn').removeClass('hidden');">Đóng</a>
            </div>
        </form>
    </div>
</section>

<div class="modal fade bs-example-modal-sm single-img" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button aria-label="Close" data-dismiss="modal" class="close" type="button"><span aria-hidden="true">×</span></button>
                <h4 id="myLargeModalLabel" class="modal-title">Upload Single Image</h4>
            </div>
            <div class="modal-body">
                <form action="@Url.Action("SaveUploadedFile", "Upload", new { id="admin", folderName = "Categories"})" method="post" enctype="multipart/form-data" class="dropzone" id="dropzoneForm">
                    <div class="fallback">
                        <input name="file" type="file" multiple />
                        <input type="submit" value="Upload" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<section class="content">
    <button class="btn btn-primary" id="addNewUserbtn"> Thêm mới </button>
    <div class="box">
        <div class="box-header">
            <h3 class="box-title">Dữ liệu người dùng</h3>
        </div><!-- /.box-header -->
        <div class="box-body">
            <table id="example1" class="table table-bordered table-striped display">
                <thead>
                    <tr>
                        <th>Email</th>
                        <th>Họ tên</th>
                        <th>Tel</th>
                        <th>Tùy chỉnh</th>
                    </tr>
                </thead>
            </table>
        </div><!-- /.box-body -->
    </div><!-- /.box -->
</section>

@section AddScriptToBody{
    <script type="text/javascript">
        $(function () {

            $('#addNewUserbtn').click(function () {
                $('#resetFormButton').click();
                $("#Email").prop("disabled", false);
                $("#SkipEmailConfirmation").parent().show();
                $("#collapseExample").collapse('show');
                $("#mainform").prop("action", "AddUser");
                $('#addNewUserbtn').addClass("hidden");
            });

            $.getJSON("GetAllRoles", function (roles) {
                roles.forEach(function (role) {
                    if (role.Name !== 'Customer')
                        $("#Role").append("<option value=\"" + role.Id + "\">" + role.Name + "</option>")
                });
            });

            var $table = $('#example1')
                .on('preInit.dt', function (e, settings, data) {
                    $('#example1').LoadingOverlay("show");
                })
                .on('preXhr.dt', function (e, settings, data) {
                    $('#example1').LoadingOverlay("show");
                })
                .on('xhr.dt', function (e, settings, data) {
                    $('#example1').LoadingOverlay("hide");
                })
                .DataTable({
                    "language": {
                        "lengthMenu": "Hiển thị _MENU_ dòng dữ liệu cho mỗi trang",
                        "search": "Tìm kiếm: ",
                        "zeroRecords": "Xin lỗi - Không tìm thấy kết quả nào",
                        "info": "Đang hiển thị trang _PAGE_ trên tổng số _PAGES_ trang",
                        "infoEmpty": "Dữ liệu không tồn tại",
                        "infoFiltered": "(đã lọc được _MAX_ trên tổng sô dữ liệu)",
                        "paginate": {
                            "first": "Trang đầu",
                            "last": "Trang cuối",
                            "previous": "Trang trước",
                            "next": "Trang sau"
                        }
                    },
                    processing: true,
                    serverSide: true,
                    ajax: { url: "UserList/", type: "POST" },
                    bSort: true,
                    processing: false,
                    columns: [
                        { data: "DT_RowData.Email" },
                        { data: "DT_RowData.FullName" },
                        { data: "DT_RowData.PhoneNumber" },
                        {
                            data: null,
                            targets: -1,
                            sortable: false,
                            width: 90,
                            render: function (data, type, full, meta) {
                                return '<a href="#" class="btn btn-success btn-xs act-edit"><i class="fa fa-edit fa-lg"></i> &nbsp;Sửa</a>  <a href=\"javascript:void(0)\" class="btn btn-danger btn-xs act-del" data-toggle="confirmation"><i class="fa fa-trash-o fa-lg"></i> &nbsp;Xóa</a>';
                            }
                        }
                    ],
                    drawCallback: function (settings) {
                        $(".act-del").click(function () {
                            var data = $(this).closest("tr").data();

                            BootstrapDialog.confirm({
                                title: 'Tin nhắn',
                                message: 'Bạn thật sự muốn xóa khách hàng này ?',
                                //type: BootstrapDialog.TYPE_INFO, // <-- Default value is BootstrapDialog.TYPE_PRIMARY
                                closable: true, // <-- Default value is false
                                draggable: true, // <-- Default value is false
                                btnCancelLabel: 'Hủy', // <-- Default value is 'Cancel',
                                btnOKLabel: 'Chấp nhận!', // <-- Default value is 'OK',
                                //btnOKClass: 'btn-info', // <-- If you didn't specify it, dialog type will be used,
                                callback: function (result) {
                                    var exeCallback = function (result) {
                                        // result will be true if button was click, while it will be false if users close the dialog directly.
                                        if (result) {
                                            $.post('/User/RemoveUser', { 'id': data.Id },
                                                function (data) {
                                                    if (data.ResultValue) {
                                                        BootstrapDialog.show({
                                                            type: BootstrapDialog.TYPE_SUCCESS,
                                                            title: 'Thành công',
                                                            message: data.Message
                                                        });
                                                    } else {
                                                        BootstrapDialog.show({
                                                            type: BootstrapDialog.TYPE_DANGER,
                                                            title: 'Thất bại',
                                                            message: data.Message
                                                        });
                                                    }
                                                    $table.ajax.reload();
                                                    setTimeout(function () {
                                                        BootstrapDialog.closeAll();
                                                    }, 5000);
                                                }
                                            );
                                        }
                                    };
                                    if (data.PurchaseOrders && data.PurchaseOrders.length > 0)
                                        BootstrapDialog.confirm({
                                            title: 'Cảnh báo',
                                            message: 'Khách hàng này đã có ' + data.PurchaseOrders.length + ' giao dịch, xóa khách hàng này cũng sẽ xóa ' + data.PurchaseOrders.length + ' giao dịch trên',
                                            //type: BootstrapDialog.TYPE_INFO, // <-- Default value is BootstrapDialog.TYPE_PRIMARY
                                            closable: true, // <-- Default value is false
                                            draggable: true, // <-- Default value is false
                                            btnCancelLabel: 'Hủy', // <-- Default value is 'Cancel',
                                            btnOKLabel: 'Chấp nhận!', // <-- Default value is 'OK',
                                            //btnOKClass: 'btn-info', // <-- If you didn't specify it, dialog type will be used,
                                            callback: exeCallback
                                        });
                                    else
                                        exeCallback(true);
                                }
                            });
                        });
                        $(".act-edit").click(function () {
                            $('#resetFormButton').click();
                            var data = $(this).closest("tr").data();
                            $("#Id").val(data.Id);
                            $("#Role").val(data.Roles[0].RoleId);
                            $("#Email").val(data.Email);
                            $("#Email").prop("disabled", true);
                            $("#SkipEmailConfirmation").parent().hide();
                            $("#FullName").val(data.FullName);
                            $("#PhoneNumber").val(data.PhoneNumber);
                            $("#collapseExample").collapse('show');
                            $("#mainform").prop("action", "UpdateUser");
                        });
                    }
                });
        });
    </script>
}

