body {
    font-family: Tahoma;
    font-size: 11pt !important;
}

a:hover {
    text-decoration: none;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.container {
    width: 1200px;
    margin: 0 auto;
}

a.btn {
    text-decoration: none;
}

.top-header .area-logo, .top-header .area-slogan, .top-header .area-user {
    float: left;
}

.top-header .area-logo {
    width: 20%;
}

.top-header .area-slogan {
    width: 60%;
}

.top-header .area-user {
    width: 20%;
}

    .top-header .area-user ul li {
        display: inline-block;
    }

.navbar-inverse {
    background-color: #ffffff;
    border-color: #ffffff;
}

.base-color-dark {
    color: #5F9EA0 !important;
}

.bg-base-color-dark {
    background-color: #5F9EA0 !important;
}

    .bg-base-color-dark:hover {
        background-color: #0E487B !important;
    }
/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

#header .container {
    padding-top: 10px;
    padding-bottom: 10px;
}

#header .top-header .btn {
    margin-top: 5px;
    width: 120px;
}

#header .top-header h3 {
    margin-top: 10px;
    padding-bottom: 5px;
    font-size: 22px;
    line-height: 24pt;
}

.search-wrapper {
    margin-top: 10px;
    background-color: cadetblue;
    padding: 5px 0;
}

    .search-wrapper form {
        width: 50%;
        margin: 0 auto;
    }

    .search-wrapper input[type='text'] {
        width: 80%;
        height: 32px;
        vertical-align: middle;
    }

    .search-wrapper .btn{
        margin-right: 5px;
    }
    
    #topMenu {
        margin-top: 10px;
    }

    #topMenu .menu-item {
        width: 24.5%;
        margin-right: 8px;
        float: left;
    }

        #topMenu .menu-item:last-child {
            margin-right: 0;
        }

#categoryProductLv1 > div, .subject-category > div {
    margin: 0;
}

#categoryProductLv1 div.col-md-3, .subject-category div.col-md-3 {
    width: 24.6%;
    padding: 0;
    margin-right: 6px;
}

.area-menu, .area-slider, .area-category-list, .subject-category div.col-md-3, .subject-category div.col-md-9 {
    float: left;
}

.area-menu {
    width: 24.5%;
    margin-right: 8px;
}

.area-slider {
    width: 68.8%;
}

.area-category-list {
    width: 74.8%;
}

.area-head-category, .area-contact {
    float: left;
}

.area-head-category {
    width: 100%;
    margin-top: 10px;
}

.area-contact {
    
}

    .area-contact .support {
        padding: 15px;
    }

        .area-contact .support ul {
            background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAQAAAAABCAYAAAAxWXB3AAAAIUlEQVQ4T2P4//8/AzF4//79/4F4lB6lR+lBTqPnXXwYAEylwmmJTHFlAAAAAElFTkSuQmCC) no-repeat 0 bottom;
            padding-bottom: 10px;
        }

            .area-contact .support ul li a {
                line-height: 20pt;
                padding-left: 10px;
                background: url(/Images/icons/widget-link.png) left center no-repeat;
            }
    
    #topMenu div.col-md-3:last-child {
        margin-right: 0;
    }

#categoryProductLv1 div.col-md-9, .subject-category div.col-md-9 {
    width: 74.8%;
    padding: 0;
}

.quick-access .btn {
    width: 175px;
    margin-bottom: 10px;
}

.menu-item > a {
    background: #e2f0ff;
    display: block;
    padding: 10px 20px;
    color: #64aaac;
    border: 1px solid #86cccf;
    text-align: center;
}

    .menu-item > a:hover {
        text-decoration: none;
        color: gray;
        background: red; /* For browsers that do not support gradients */
        background: -webkit-radial-gradient(white, #e2f0ff); /* Safari */
        background: -o-radial-gradient(white, #e2f0ff); /* Opera 11.6 to 12.0 */
        background: -moz-radial-gradient(white, #e2f0ff); /* Firefox 3.6 to 15 */
        background: radial-gradient(white, #e2f0ff); /* Standard syntax */
    }

    .menu-item > a .icon {
        width: 32px;
        height: 32px;
        margin-right: 10px;
        opacity: 0.8;
    }

    .menu-item > a span {
        display: inline-block;
        vertical-align: middle;
    }

.menu-item:hover > a .icon {
    opacity: 1;
    text-shadow: 0px 0px 13px #fff;
    animation: moveFromBottom 300ms ease-in-out;
}

.menu-item > a .product-icon {
    background: url('Images/icons/tool-icon.png') no-repeat;
}

.menu-item > a .tech-icon {
    background: url('Images/icons/tech-icon.png') no-repeat;
}

.menu-item > a .support-icon {
    background: url('Images/icons/support-icon.png') no-repeat;
}

.menu-item > a .event-icon {
    background: url('Images/icons/calendar-icon.png') no-repeat;
}

.menu-item > a:hover .content {
    opacity: 1;
    color: #68217A;
    animation: moveFromTop 300ms ease-in-out;
}

/*.menu-item:hover .sub {
        opacity: 1;
        animation: moveFromBottom 300ms ease-in-out;
    }*/

footer {
    line-height: 25pt;
    font-size: 10.5pt;
    background: #e2f0ff;
    background: -webkit-linear-gradient(left top, #56B4D9, white); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, #56B4D9, white); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, #56B4D9, white); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, #56B4D9, white); /* Standard syntax */
    color: #1D4380;
    margin-top: 10px;
    text-align: center;
}

@keyframes moveFromBottom {
    from {
        opacity: 0;
        transform: translateY(200%);
    }

    to {
        opacity: 1;
        transform: translateY(0%);
    }
}

@keyframes moveFromTop {
    from {
        opacity: 0;
        transform: translateY(-200%);
    }

    to {
        opacity: 1;
        transform: translateY(0%);
    }
}

.header {
    font-size: 12px;
    line-height: 1.5;
    height: 120px;
    margin: 0 auto;
    text-align: left;
    padding: 0;
    position: relative;
    z-index: 11100;
}

    .header .head-category {
        position: absolute;
        top: 0;
        width: 100%;
    }

        .header .head-category dd a.link {
            text-indent: 100%;
            white-space: nowrap;
            overflow: hidden;
            background-image: url("/vcommon/common/img/sprite_head_cat_2.png");
            background-repeat: no-repeat;
            display: block;
        }

        .header .head-category .category-list, .header .head-category .post-category-list {
            display: none;
            position: relative;
            border: 2px solid #0169c6;
            border-radius: 0px 2px 2px 2px;
            box-shadow: rgba(0,0,0,0.1) 3px 3px 3px 0px;
            background-color: #fff;
        }

        .header .head-categoryVisible .category-list,
        .header .head-category .category-list,
        .header .head-category .post-category-list {
            display: block;
        }

        .header .head-category .post-category-list {
            border-color: #64aaac;
        }

        .header .head-category .category-list-box {
            display: none;
            position: absolute;
            left: 290px;
            top: -2px;
            width: 660px;
            min-height: 560px;
            border: 2px solid #0169c6;
            border-radius: 0px 2px 2px 0px;
            box-shadow: rgba(0,0,0,0.1) 3px 3px 3px 0px;
            background-color: #fff;
        }

        .header .head-category .category-list-box {
            height: 560px;
        }

            .header .head-category .category-list-box .image {
                position: absolute;
                left: 70px;
                bottom: 30px;
                width: 520px;
                height: 200px;
                background-repeat: no-repeat;
                background-position: left top;
            }

        .header .head-category dd.on .category-list-box {
            display: block;
        }

        .header .head-category dd .category-list-box .subtitle {
            margin: 15px 0px 0px 15px;
            width: 450px;
            height: 30px;
        }

        .header .head-category dd .category-list-box p {
            margin-left: 20px;
        }

        .header .head-category dd .category-list-box .lead {
            padding: 7px 20px 0px 20px;
            font-size: 16px;
        }

        .header .head-category dd .category-list-box ul {
            margin: 0 10px 0 20px;
            letter-spacing: -0.4em;
            padding: 10px 0 20px;
            position: relative;
        }

        .header .head-category .category-list-box > ul > li {
            /* CssLint: with can't be used with display: inline*/
            width: 33.33%;
            display: inline-block;
            letter-spacing: normal;
            *display: inline;
            *zoom: 1;
            font-size: 12pt;
            vertical-align: top;
        }

            .header .head-category .category-list-box > ul > li > ul {
                letter-spacing: normal;
                margin: 0;
            }

                .header .head-category .category-list-box > ul > li > ul > li {
                    padding: 5px 0;
                    background-color: #EEF6FF;
                    border-bottom: 1px solid #ddd;
                }

                    .header .head-category .category-list-box > ul > li > ul > li a {
                        font-size: 10pt;
                        background: none;
                    }

        .header .head-category .mech .category-list-box > ul, .header .head-category .fs_logistics .category-list-box ul {
            margin: 0 0 0 20px;
        }

            .header .head-category .mech .category-list-box > ul > li,
            .header .head-category .el_wire .category-list-box > ul > li,
            .header .head-category .fs_logistics .category-list-box > ul > li {
                width: 33%;
            }

        .header .head-category dd .category-list-box > ul > li a {
            display: block;
            background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAHAQMAAAAVq36TAAAABlBMVEW/v78AS7E2lsyyAAAAAXRSTlMAQObYZgAAABJJREFUGBljbmBmAEMJZgPmBAAIngE+HFgy7QAAAABJRU5ErkJggg==) 0px 8px no-repeat;
            padding: 2px 0 2px 10px;
            font-size: 10.5pt;
        }

        .header .head-category .category-list-caption dd.on:before {
            display: block;
            position: absolute;
            width: 0;
            margin: 11px 0 0 249px;
            border: 10px solid transparent;
            border-right-color: #fff;
            border-left-width: 0;
            content: "";
            z-index: 1;
        }

        .header .head-category .category-list-caption dd.on:after {
            display: block;
            position: absolute;
            width: 0;
            margin: -33px 0 0 246px;
            border: 10px solid transparent;
            border-right-color: #0169c6;
            border-left-width: 0;
            content: "";
        }

        .header .head-category .mech .category-list-box .subtitle {
            background-position: -512px -152px;
        }

        .header .head-category .mech_screw .category-list-box .subtitle {
            background-position: -512px -182px;
        }

        .header .head-category .category-list .category-listTitle {
            display: block;
            position: relative;
            border-bottom: 1px solid #bfbfbf;
            background-color: #cce1f4;
            font-size: 13px;
            font-weight: bold;
            padding: 10px;
        }

            .header .head-category .category-list .category-listTitle.titleBottom {
                border-top: 1px solid #bfbfbf;
            }

        .header .head-category .category-list .category-listTitle {
            display: block;
            position: relative;
            border-bottom: 1px solid #bfbfbf;
            background-color: #cce1f4;
            font-size: 13px;
            font-weight: bold;
            padding: 10px;
        }


        .header .head-category dd {
            background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAQAAAAABCAYAAAAxWXB3AAAAIUlEQVQ4T2P4//8/AzF4//79/4F4lB6lR+lBTqPnXXwYAEylwmmJTHFlAAAAAElFTkSuQmCC) no-repeat 0 bottom;
        }

            .header .head-category dd.mold {
                background-image: none;
            }

            .header .head-category dd a.link {
                position: relative;
                padding: 11px 18px 11px 19px;
                background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAMCAYAAABfnvydAAAAWUlEQVQoz3XPsQ2AIBRFUWor3cWJxJy93MwNdAK1kQThW5CQ3JMXSFhx4cCMVJ9y+UW1zhFKzWSHWtChCCRsuLFHcXkXzmjhE9s3dLEGYSwg/8UCRkwYoh89/jWOlxICdJwAAAAASUVORK5CYII=) no-repeat 260px center;
                text-indent: inherit;
                white-space: normal;
                overflow: visible;
                font-size: 13px;
                font-weight: bold;
                text-decoration: none;
                color: #333;
            }

            .header .head-category dd.on a.link, .header .head-category .post-category-list dd:hover a.link {
                background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAMCAYAAABfnvydAAAAWElEQVQoz2P4//9/ChD/A+L3QGwCxAzIGMbAqQhZdTI2RQxoRmIoQleAoQibAhBe+B8CHmCTTIKa8AGbCSiS6G7AkERWgFUSpiAZlyRMgQAQCwIxFzYfAQB83zrGE54AXQAAAABJRU5ErkJggg==);
                color: #fff;
            }

        .header .head-category .post-category-list dd:hover a.link {
            background-color: #64aaac;
        }

        .header .head-category dd.mech_screw a.link {
            padding: 9px 35px 8px 19px;
        }

        .header .head-category dd .category-list-box {
            height: 587px;
        }

.language-vn .header .head-category dd .category-list-box {
    height: 635px;
}
/* IE10~ hack */
/* Chrome hack */
.header .head-category dd .category-list-box ul {
    z-index: 1;
}

    .header .head-category dd .category-list-box ul li a {
        padding-right: 7px;
    }

.header .head-category .category-list-box .subtitle {
    text-indent: inherit;
    white-space: normal;
    overflow: visible;
    background-image: none;
    font-size: 16px;
    font-weight: bold;
}

.header .head-category dd .category-list-box .subtitle {
    margin: 20px 0 0 20px;
    width: auto;
    height: auto;
}

.header .head-category dd .category-list-box .category-list-caption {
    margin: 10px 20px 0 20px;
}

.header .head-category dd .category-list-box .category-list-bottom-link {
    position: absolute;
    bottom: 0;
    right: 0;
}

    .header .head-category dd .category-list-box .category-list-bottom-link a {
        display: block;
        background: #0169c6 15px center no-repeat url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAMCAYAAABfnvydAAAAWElEQVQoz2P4//9/ChD/A+L3QGwCxAzIGMbAqQhZdTI2RQxoRmIoQleAoQibAhBe+B8CHmCTTIKa8AGbCSiS6G7AkERWgFUSpiAZlyRMgQAQCwIxFzYfAQB83zrGE54AXQAAAABJRU5ErkJggg==);
        width: auto;
        height: 30px;
        padding: 4px 20px 0 35px;
        color: #fff;
        font-size: 14px;
        font-weight: bold;
    }

        .header .head-category dd .category-list-box .category-list-bottom-link a:hover {
            background-color: #4d96d7;
            text-decoration: none;
        }

.header .head-category dd .category-list-box .image {
    bottom: 40px;
}

.header .head-category .category-list-caption dd.on:before {
    display: none;
}

.header .head-category .category-list-caption dd.on a.link:before {
    display: block;
    position: absolute;
    width: 0;
    margin: -10px 0 0 0;
    border: 10px solid transparent;
    border-right-color: #fff;
    border-left-width: 0;
    content: "";
    z-index: 1;
    top: 50%;
    right: -2px;
}

.header .head-category .category-list-caption dd.on, .header .head-category .post-category-list-caption dd:hover {
    background-color: #749dcf;
}

    .header .head-category .category-list-caption dd.on:after {
        display: none;
    }

    .header .head-category .category-list-caption dd.on a.link:after {
        display: block;
        position: absolute;
        width: 0;
        margin: -10px 0 0 0;
        border: 10px solid transparent;
        border-right-color: #0169c6;
        border-left-width: 0;
        content: "";
        top: 50%;
        right: 0;
    }

.product-category-items {
    width: 100%;
    border-top: 1px solid #BFBFBF;
    border-left: 1px solid #BFBFBF;
    position: relative;
    font-size: 0;
}

    .product-category-items li, #categoryProductLv1 .product-category-item {
        position: relative;
        display: inline-block;
        vertical-align: top;
        width: 242.3px;
        min-height: 260px;
        border-right: solid 1px #BFBFBF;
        border-bottom: solid 1px #BFBFBF;
        background: rgb(254,254,254);
        background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSI3MSUiIHN0b3AtY29sb3I9IiNmZWZlZmUiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI5OSUiIHN0b3AtY29sb3I9IiNmMGYwZjAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
        background: -moz-linear-gradient(top, rgb(254,254,254) 71%, rgb(240,240,240) 99%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(71%,rgb(254,254,254)), color-stop(99%,rgb(240,240,240)));
        background: -webkit-linear-gradient(top, rgb(254,254,254) 71%,rgb(240,240,240) 99%);
        background: -ms-linear-gradient(top, rgb(254,254,254) 71%,rgb(240,240,240) 99%);
        background: linear-gradient(to bottom, rgb(254,254,254) 71%,rgb(240,240,240) 99%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#f0f0f0',GradientType=0 );
        text-align: left;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding: 20px;
    }

        .product-category-items li a, .product-category-item a {
            display: block;
            text-decoration: none;
            animation: fadeInFromNone 0.5s ease-out;
        }

            .product-category-items li a:hover, .product-category-item a:hover {
                opacity: 0.75;
            }

.product-category-item-title {
    margin-bottom: 5px;
    display: block;
    line-height: 1.15;
    font-size: 22px;
    font-weight: bold;
    color: #0169c6;
}

.product-category-items li p, #categoryProductLv1 .product-category-item p {
    color: #333;
    margin-bottom: 5px;
    font-size: 9.5pt;
    line-height: 18px;
}

.product-category-items li .img-block, #categoryProductLv1 .product-category-items .product-category-item .img-block {
    position: absolute;
    overflow: hidden;
    height: 160px;
    display: block;
    width: 100%;
    bottom: 0;
    left: 0;
}

.product-category-items li img, #categoryProductLv1 .product-category-item img {
    margin: 0;
    width: 84.5%;
    position: absolute;
    bottom: 20px;
    left: 20px;
}

#topHomeBody .area-menu{
    width: 30.3%;
}

#topHomeBody .col-md-8, #topHomeBody .col-md-4 {
    float: left;
}

#topHomeBody .col-md-8 {
    width: 80.9%;
    margin-right: 8px;
}

#topHomeBody .col-md-4 {
    width: 18.4%;
}

#bottomHomeBody {
        margin-top: 10px;
    }

    #bottomHomeBody .col-md-10 {
        padding: 0 0 0 15px;
        width: 83.3%;
    }

    #bottomHomeBody .col-md-2 {
        padding: 0 8px;
    }

.content-wrapper {
    border: solid 1px #BFBFBF;
}

    .content-wrapper h3 {
        padding: 10px;
        background-color: #86cccf;
        color: #ffffff;
        text-align: center;
        font-size: 10.5pt;
    }

    .content-wrapper .detail {
        padding: 0 18px 15px;
        line-height: 18px;
        font-size: 10.5pt;
    }

        .content-wrapper .detail ul.contact li {
            margin-bottom: 10px;
        }

            .content-wrapper .detail ul.contact li .bold {
                font-weight: bold;
            }

            .content-wrapper .detail ul.contact li strong {
                font-weight: bold;
                font-size: 12pt;
            }

        .content-wrapper .detail ul.hour li {
            font-weight: bold;
            font-size: 9pt;
        }

#categoryCarousel .carousel-indicators {
    bottom: auto;
    top: 5px;
    left: auto;
    right: 8px;
    width: auto;
}

    #categoryCarousel .carousel-indicators li {
        background: #bfbfbf;
        border: 1px solid #ababab;
    }

        #categoryCarousel .carousel-indicators li.active {
            background: #666666;
        }

.text-red {
    color: red;
}

.error {
    color: red;
}

#crumbs {
    text-align: left;
    margin-bottom: 8px;
}

    #crumbs ul {
        list-style: none;
        display: inline-table;
    }

        #crumbs ul li {
            display: inline;
        }

            #crumbs ul li.active a {
                background: #64aaac;
            }

            #crumbs ul li a {
                display: block;
                line-height: 18pt;
                float: left;
                height: 32px;
                background: #86cccf;
                text-align: center;
                padding: 3px 16px 3px 36px;
                position: relative;
                margin: 0 10px 0 0;
                font-size: 14px;
                text-decoration: none;
                color: #fff;
            }

                #crumbs ul li a:after {
                    content: "";
                    border-top: 16px solid transparent;
                    border-bottom: 16px solid transparent;
                    border-left: 16px solid #86cccf;
                    position: absolute;
                    right: -16px;
                    top: 0;
                    z-index: 1;
                }

                #crumbs ul li a:before {
                    content: "";
                    border-top: 16px solid transparent;
                    border-bottom: 16px solid transparent;
                    border-left: 16px solid white;
                    position: absolute;
                    left: 0;
                    top: 0;
                }

            #crumbs ul li:first-child a {
                border-top-left-radius: 10px;
                border-bottom-left-radius: 10px;
            }

                #crumbs ul li:first-child a:before {
                    display: none;
                }

            #crumbs ul li:last-child a {
                padding-right: 34px;
                border-top-right-radius: 10px;
                border-bottom-right-radius: 10px;
            }

                #crumbs ul li:last-child a:after {
                    display: none;
                }

            #crumbs ul li a:hover {
                background: #64aaac;
            }

                #crumbs ul li a:hover:after {
                    border-left-color: #64aaac;
                }

/* Search Page*/

.search-result {
}

    .search-result .col-md-6, .search-result .col-md-4, .search-result .col-md-8 {
        float: left;
    }

    .search-result .col-md-6 {
        width: 49.5%;
        margin-right: 10px;
    }

        .search-result .col-md-6:last-child {
            margin-right: 0;
        }

    .search-result .col-md-4 {
        width: 26%;
        margin-right: 20px;
    }

    .search-result .col-md-8 {
        width: 70%;
    }

    .search-result h2 {
        font-size: 11pt;
        font-weight: bold;
        margin: 18px 0;
    }

    .search-result small {
        font-size: 10.5pt;
        margin-bottom: 25px;
        display: block;
        font-style: italic;
    }

    .search-result h3 {
        background: #dedede;
        padding: 10px;
        margin-bottom: 20px;
    }

    .search-result .result-item {
        border-bottom: 1px dashed #ababab;
        padding-bottom: 12px;
        margin-bottom: 12px;
    }

        .search-result .result-item:last-child {
            padding-bottom: 0;
            margin-bottom: 0;
            border-bottom: none;
        }

        .search-result .result-item img {
            width: 100%;
        }

        .search-result .result-item .title,
        .search-result .result-item .category,
        .search-result .result-item .price {
            margin-bottom: 8px;
        }

        .search-result .result-item .summary {
            line-height: 20px;
        }

.subject-category {
}

    .subject-category .poster {
        position: relative;
        overflow: hidden;
        height: 800px;
        width: 100%;
    }

        .subject-category .poster img {
            width: 100%;
        }

    .subject-category .slogan {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        color: yellow;
        font-size: 20pt;
        text-align: center;
        display: block;
        background: rgba(255, 255,255, 0.4)
    }

        .subject-category .slogan > div {
            display: table;
            width: 100%;
            height: 100%;
        }

            .subject-category .slogan > div > div {
                display: table-cell;
                vertical-align: middle;
            }

        .subject-category .slogan h2, .subject-category .slogan h3 {
            line-height: 32pt;
        }

        .subject-category .slogan h2 {
            font-size: 30pt;
        }

.category-menu {
    padding-left: 10px;
}

    .category-menu > ul > li, .head-category h3, #postDetail h2 {
        text-transform: uppercase;
        color: #64aaac;
        font-weight: bold;
        padding-bottom: 12px;
        line-height: 24pt;
    }

        .category-menu > ul > li ul {
            padding-top: 10px;
            padding-left: 15px;
            border-left: 2px solid #5F9EA0;
        }

            .category-menu > ul > li ul li {
                border: 1px solid #64aaac;
                margin-bottom: 5px;
            }

                .category-menu > ul > li ul li a {
                    display: block;
                    text-transform: capitalize;
                    color: gray;
                    font-weight: normal;
                    padding: 0 8px;
                }

                    .category-menu > ul > li ul li a:hover {
                        text-decoration: none;
                        background: #e2f0ff;
                    }

#postDetail .detail {
    padding-left: 15px;
}

    #postDetail .detail .content {
        line-height: 15pt;
    }

#postDetail .col-md-3, #postDetail .col-md-9 {
    float: left;
}

#postDetail .col-md-3 {
    width: 24.5%;
    margin-right: 6px;
}

#postDetail .col-md-9 {
    width: 75%;
}
/* End Search Page*/
/*this help modal with ng-danger header display properly*/
.custom-modal-header {
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}

.head-category h3 {
    font-size: 11pt;
    color: #64aaac;
}

.order-suggest {
    border: 1px solid #86cccf;
    padding: 10px;
    border-radius: 3px;
}

    .order-suggest label {
        font-size: 10.5pt;
        font-weight: normal;
        line-height: 18pt;
    }

    .order-suggest .col-md-5 label {
        line-height: 28pt;
    }

    .order-suggest .btn {
        margin: 10px 0;
    }

form[name="registration"] .col-lg-6 {
    float: left;
    width: 49.5%;
    margin-right: 11px;
}

    form[name="registration"] .col-lg-6:last-child {
        margin-right: 0;
    }

#productDetail .col-md-8, #productDetail .col-md-4, #productDetail .col-md-5, #productDetail .col-md-7, #productDetail .col-md-6 {
    float: left;
}

#productDetail .col-md-8 {
    width: 74.9%;
    margin-right: 8px;
}

#productDetail .col-md-4 {
    width: 24.4%;
}

#productDetail .order-suggest .col-md-5 {
    width: 40%;
}

#productDetail .order-suggest .col-md-6 {
    width: 50%;
}

#productDetail .order-suggest .col-md-7 {
    width: 60%;
}

#productDetail .order-suggest .col-md-8 {
    width: 72.5%;
}

#productDetail .order-suggest .col-md-6 .btn {
    font-size: 10pt;
}

#productDetail h1, #productDetail h3 {
    margin: 10px 0;
}

#productDetail h1 {
    padding-left: 24px;
}

.arae-facebook .fb_iframe_widget {
        display: block;
        margin-top: 20px;
    }

table.cart {
    width: 70%;
    margin: 20px auto;
    color: #444;
}

    table.cart td {
        border: 1px solid red;
        padding: 3px 15px;
        width: 18%;
        vertical-align: middle;
        height: 30px;
    }

        table.cart td label {
            margin: 0;
        }

        table.cart td input[type=text] {
            height: 24px;
        }

        table.cart td.large {
            width: 39%;
        }

        table.cart td.small {
            width: 25%;
        }

.modal-dialog {
    width: 600px;
    margin: 30px auto;
}

#cart h2 {
    font-size: 12pt;
    font-weight: bold;
    color: #333;
}

#cart .dataTable {
    width: 100%;
    overflow: hidden;
    background: #FFF;
    color: #024457;
    border-radius: 3px;
    border: 1px solid #167F92;
}

    #cart .dataTable tr {
        border: 1px solid #D9E4E6;
    }

        #cart .dataTable tr:nth-child(odd) {
            background-color: #EAF3F3;
        }

    #cart .dataTable th {
        border: 1px solid #FFF;
        background-color: #167F92;
        color: #FFF;
        padding: 8px;
        line-height: 1.628571429;
        text-align: center;
        vertical-align: middle;
    }

        #cart .dataTable th:after {
            opacity: 1;
        }

        #cart .dataTable th.check-all {
            padding-left: 24px;
            padding-right: 20px;
        }

    #cart .dataTable td {
        padding: 8px;
        line-height: 1.628571429;
        padding-right: 30px;
        padding-left: 18px;
        word-wrap: break-word;
    }

    #cart .dataTable td {
        text-align: right;
    }

    #cart .dataTable .code-input {
        width: 100px;
    }

    #cart .dataTable .quantity-input {
        width: 80px;
    }

#cart .area-button {
    margin: 10px 0;
}

#cart .area-button form {
    display: inline-block;
}
