@*@model Upup.Models.Customer*@ 
@{
    ViewBag.Title = "CartHistory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="cart">
    <h2>Danh sách đơn hàng</h2>
    <table id="example1" class="table table-bordered table-striped display">
        <thead>
            <tr>
                <th rowspan="2">Stt</th>
                <th rowspan="2">Tên PO</th>
                <th rowspan="2">Mã PO</th>
                <th colspan="4">Trạng thái</th>
                <th rowspan="2">Thao tác</th>
            </tr>
            <tr>
                <th>Đặt hàng</th>
                <th>Thanh toán</th>
                <th>Vận chuyển</th>
                <th>Hoàn thành</th>
            </tr>
            <tr>
                <td>1</td>
                <td>tên</td>
                <td>mã</td>
                <td>Đã đặt</td>
                <td>Đã thanh toán</td>
                <td>Đã vận chuyển</td>
                <td>Đã hoàn thành</td>
                <td>THao tác</td>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

@section scripts{
    <script src="~/Scripts/jquery.dataTables.min.js"></script>
    <script type="text/javascript">
        $(function () {
            // Handle click on "Select all" control
            $('#example-select-all').on('click', function () {
                // Get all rows with search applied
                var rows = $table.rows({ 'search': 'applied' }).nodes();
                // Check/uncheck checkboxes for all rows in the table
                $('input[type="checkbox"]', rows).prop('checked', this.checked);
            });
        });
    </script>
}