@using System.Web.Configuration
@model Upup.Models.PostCategory
@{
    ViewBag.Title = "TechGuide";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.RootCategory = "events";
}

<div class="subject-category">
    <div class="row">
        <div class="col-md-3">
            @{Html.RenderPartial("_MenuPostPartial");}
        </div>
        <div class="col-md-9">
            <div class="poster" style="background:url('/Images/Settings/@WebConfigurationManager.AppSettings["EventBannerUrl"]') no-repeat; background-size: 100%;">
                <div class="slogan">
                    <div>
                        <div>
                            <h2>@Html.Raw(HttpUtility.HtmlDecode(WebConfigurationManager.AppSettings["EventSlogan"]))</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>