@{
    ViewBag.Title = "#_Confirm Email";
}

<h2>@ViewBag.Title.</h2>
<div>
    <p>
        <span class="lang-en">
            Thank you for confirming your email. Please @Html.ActionLink("Click here to Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
        </span>
        <span class="lang-vi">
            Cảm ơn bạn đã kích hoạt tài khoản UpUp. Vui lòng @Html.ActionLink("Ân vào đây để đăng nhập", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
        </span>
    </p>
</div>
