
@{
    ViewBag.Title = "Thông báo";
    ViewBag.Title_en = "Check email";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title.</h2>
<p class="text-info">
    <span class="lang-en">
        Please check your email and confirm your email address.
    </span>
    <span class="lang-vi">
        Vui lòng kiểm tra email của bạn để kích hoạt tài khoản.
    </span>
</p>