
@{
    ViewBag.Title = "DisplayEmail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title.</h2>
<p class="text-info">
    #_Please check your email and confirm your email address.
</p>
