@{
    ViewBag.Title = "Xác nhận quên mật khẩu";
    ViewBag.Title_en = "Forgot Password Confirmation";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        <span class="lang-en">
            Please check your email to reset your password.
        </span>
        <span class="lang-vi">
            Vui lòng kiểm tra email của bạn để đặt lại mật khẩu.
        </span>
    </p>
</div>
	
