@{
    ViewBag.Title = "Xác nhận đặt lại mật khẩu";
    ViewBag.Title_en = "Reset password confirmation";
}

<hgroup class="title">
    <h1 class="lang-vi">@ViewBag.Title.</h1>
    <h1 class="lang-en">@ViewBag.Title_en.</h1>
</hgroup>
<div>
    <p class="lang-en">
        Your password has been reset. Please @Html.ActionLink("click here to log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
    <p class="lang-vi">
        Mật khẩu của bạn đã được đặt lại, vui lòng @Html.ActionLink("Ấn vào đây để đăng nhập", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
