@model Upup.Models.Product
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script>
    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v2.10&appId=179668149113779';
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

<div id="productDetail">
    <div class="row">
        <div class="col-md-8">
            <iframe src="~/bower_components/pdfjs-1.9.426-dist/web/viewer.html?file=/Images/ProductFiles/@Model.PdfUrl" style="width:100%;height:600px;"></iframe>
        </div>
        <div class="col-md-4">
            <div class="order-suggest form-group">
                <div class="row">
                    <div class="col-md-8"><label><span class="lang-vi">Mã sản phẩm</span><span class="lang-en">Product code</span> </label></div>
                    <div class="col-md-4"><label>Số lượng</label></div>
                </div>
                <div class="row">
                    <div class="col-md-8"><input type="text" id="variant_code" class="form-control" /></div>
                    <div class="col-md-4"><input type="number" id="variant_quantity" min="1" value="1" class="form-control" /></div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-right"><button type="button" id="btn_check" class="btn btn-success">Kiểm tra</button></div>
                </div>
                <div class="row">
                    <div class="col-md-5"><label><span class="lang-vi">Mã sản phẩm</span><span class="lang-en">Product code</span></label></div>
                    <div class="col-md-7"><label id="code" /></div>
                </div>
                <div class="row">
                    <div class="col-md-5"><label><span class="lang-vi">Đơn giá</span><span class="lang-en">Price</span></label></div>
                    <div class="col-md-7"><label id="price" /></div>
                </div>
                <div class="row">
                    <div class="col-md-5"><label><span class="lang-vi">Số lượng</span><span class="lang-en">Quanitty</span></label></div>
                    <div class="col-md-7"><label id="quantity" /></div>
                </div>
                <div class="row">
                    <div class="col-md-5"><label><span class="lang-vi">Tổng tiền</span><span class="lang-en">Total amount</span> </label></div>
                    <div class="col-md-7"><label id="total_amount" /></div>
                </div>
                <div class="row">
                    <div class="col-md-5"><label><span class="lang-vi">Ngày giao hàng</span><span class="lang-en">Ship date</span></label></div>
                    <div class="col-md-7"><label id="ship_date" /></div>
                </div>
                <div class="row">
                    <div class="col-md-6 text-center"><button class="btn btn-primary active-by-check-product" disabled><span class="lang-vi">Đặt hàng nhanh</span><span class="lang-en">Order now</span></button></div>
                    <div class="col-md-6 text-center"><button class="btn btn-primary active-by-check-product" disabled><span class="lang-vi">Cho vào đơn hàng</span><span class="lang-en">Cho vào đơn hàng</span></button></div>
                </div>
            </div>
            <div class="text-center"><a class="btn btn-danger" href="/Product/Cart"><span class="lang-vi">Quản lý đơn hàng</span> <span class="lang-en">Quản lý đơn hàng</span></a></div>
        </div>
    </div>
</div>

<div class="arae-facebook">
    <div class="fb-share-button" data-href="http://localhost/Product/Index/1" data-layout="button_count" data-size="large" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Flocalhost%2FProduct%2FIndex%2F1&amp;src=sdkpreparse">Chia sẻ</a></div>
    <div class="fb-comments" data-href="http://localhost/product/index/1" data-numposts="10"></div>
</div>

@section scripts{
    <script>
        $(function () {
            $('#btn_check').click(function () {
                $.getJSON("/api/ProductApi/GetProductVariant", { code: $("#variant_code").val(), quantity: $("#variant_quantity").val() }, function (response) {
                    if (response.ResultValue) {
                        var pv = response.Data;
                        $('.active-by-check-product').removeProp("disabled");
                        $('#code').text(response.Code);
                        $('#price').text(pv.Price);
                        $('#quantity').text(response.Quantity);
                        $('#total_amount').text(response.Quantity * pv.Price);
                        if (response.ShipDate)
                            $('#ship_date').text(new Date(Date.parse(response.ShipDate)).toLocaleDateString('vi'));
                        else
                            $('#ship_date').text('Chưa xác định');
                    }
                    else {

                    }
                });
            });
        });
    </script>
}