@model Upup.Models.Product
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script>
    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v2.10&appId=179668149113779';
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

<div id="productDetail">
    <div class="row">
        <div class="col-md-8">
            <div class="row">
                <h1 class="pull-left uppercase">@Model.Name</h1>
                <h3 class="pull-right"><a target="_blank" href="@Model.LinkGuide">HƯỚNG DẪN SỬ DỤNG</a></h3>
            </div>
            <iframe src="~/bower_components/pdfjs-1.9.426-dist/web/viewer.html?file=/Images/ProductFiles/@Model.PdfUrl" style="width:100%;height:1242px;">
            </iframe>
        </div>
        <div class="col-md-4">
            <div class="order-suggest form-group">
                <div class="row">
                    <div class="col-md-8"><label><span class="lang-vi">Mã sản phẩm</span><span class="lang-en">Product code</span> </label></div>
                    <div class="col-md-4"><label>Số lượng</label></div>
                </div>
                <div class="row">
                    <div class="col-md-8"><input type="text" id="variant_code" class="form-control" /></div>
                    <div class="col-md-4"><input type="number" id="variant_quantity" min="1" value="1" class="form-control text-right" /></div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-right"><button type="button" id="btn_check" class="btn btn-success">Kiểm tra</button></div>
                </div>
                <div class="row">
                    <div class="col-md-5"><label><span class="lang-vi">Mã sản phẩm</span><span class="lang-en">Product code</span></label></div>
                    <div class="col-md-7"><input type="text" class="form-control text-right" disabled="disabled" id="code" /></div>
                </div>
                <div class="row">
                    <div class="col-md-5"><label><span class="lang-vi">Đơn giá</span><span class="lang-en">Price</span></label></div>
                    <div class="col-md-7"><input type="text" class="form-control text-right" disabled="disabled" id="price" /></div>
                </div>
                <div class="row">
                    <div class="col-md-5"><label><span class="lang-vi">Số lượng</span><span class="lang-en">Quanitty</span></label></div>
                    <div class="col-md-7"><input type="text" class="form-control text-right" disabled="disabled" id="quantity" /></div>
                </div>
                <div class="row">
                    <div class="col-md-5"><label><span class="lang-vi">Tổng tiền</span><span class="lang-en">Total amount</span> </label></div>
                    <div class="col-md-7"><input type="text" class="form-control text-right total-amount" disabled="disabled" id="total_amount" /></div>
                </div>
                <div class="row">
                    <div class="col-md-5"><label><span class="lang-vi">Ngày giao hàng</span><span class="lang-en">Ship date</span></label></div>
                    <div class="col-md-7"><input type="text" class="form-control text-right" disabled="disabled" id="ship_date" /></div>
                </div>
                <div class="row">
                    <div class="col-md-6 text-left"><button id="btn_add_cart" class="btn btn-primary active-by-check-product" disabled><span class="lang-vi">Cho vào đơn hàng</span><span class="lang-en">Add to cart</span></button></div>
                    <div class="col-md-6 text-right"><a class="btn btn-danger" href="/Cart"><span class="lang-vi">Quản lý đơn hàng</span> <span class="lang-en">Manage Cart</span></a></div>
                </div>
            </div>
            <div class="order-suggest form-group">
                <h2>BẢNG VẼ: @Model.Code</h2>
                <br />
                <div class="area-button">
                    <div class="row">
                        <div class="col-md-6 text-center"><a target="_blank" href="~/Images/2dFiles/@Model.Cad2dUrl" class="btn btn-success">2D CAD</a></div>
                        <div class="col-md-6 text-center"><a target="_blank" href="~/Images/3dFiles/@Model.Cad3dUrl" class="btn btn-success">3D CAD</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="arae-facebook">
    <div class="fb-share-button" data-href="http://localhost/Product/Index/1" data-layout="button_count" data-size="large" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Flocalhost%2FProduct%2FIndex%2F1&amp;src=sdkpreparse">Chia sẻ</a></div>
    <div class="fb-comments" data-href="http://localhost/product/index/1" data-numposts="10"></div>
</div>

@section scripts{
    <script>

        $(function () {
            var lastestpv = null;
            $('#btn_check').click(function () {
                $.LoadingOverlay("show");
                $.getJSON("/api/ProductApi/GetProductVariant", { code: $("#variant_code").val(), quantity: $("#variant_quantity").val() }, function (response) {
                    if (response.ResultValue) {
                        var pv = response.Data;
                        lastestpv = pv;
                        $('.active-by-check-product').removeProp("disabled");
                        $('#code').val(response.Code);
                        $('#price').val(accounting.formatMoney(pv.Price));
                        $('#quantity').val(response.Quantity);
                        $('#total_amount').val(accounting.formatMoney(response.Quantity * pv.Price));
                        $('#ship_date').val(response.ShipDateNumber + ' ngày');
                        //if (response.ShipDate)
                        //    $('#ship_date').val(new Date(Date.parse(response.ShipDate)).toLocaleDateString('vi'));
                        //else
                        //    $('#ship_date').val('Chưa xác định');
                    }
                    else {
                        BootstrapDialog.show({
                            type: BootstrapDialog.TYPE_WARNING,
                            title: 'Thông báo',
                            message: 'Mã sản phẩm không tồn tại'
                        });
                        setTimeout(function () {
                            BootstrapDialog.closeAll();
                        }, 3000);
                    }
                    $.LoadingOverlay("hide");
                });
            });
            $('#btn_add_cart').click(function () {
                $.LoadingOverlay("show");
                $.post("/api/CartApi/Add", { productVariantCode: lastestpv.VariantCode, quantity: parseInt($("#quantity").text()) }, function (response) {
                    if (response.ResultValue) {
                        BootstrapDialog.show({
                            type: BootstrapDialog.TYPE_SUCCESS,
                            title: 'Thành công',
                            message: response.Message
                        });
                    }
                    else {
                        BootstrapDialog.show({
                            type: BootstrapDialog.TYPE_DANGER,
                            title: 'Thất bại',
                            message: response.Message
                        });
                    }
                    setTimeout(function () {
                        BootstrapDialog.closeAll();
                    }, 3000);
                    $.LoadingOverlay("hide");
                });
            });
        });
    </script>
}