
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="productDetail">
    <div class="row">
        <div class="col-md-9">

        </div>
        <div class="col-md-3">
            <div class="order-suggest form-control">
                <div class="row">
                    <div class="col-md-9">Mã sản phẩm</div>
                    <div class="col-md-3">Số lượng</div>
                </div>
                <div class="row">
                    <div class="col-md-9"><input type="text" class="form-control" /></div>
                    <div class="col-md-3"><input type="text" class="form-control" /></div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-right"><button class="btn btn-success">Kiểm tra</button></div>
                </div>
                <div class="row">
                    <div class="col-md-3">Đơn giá</div>
                    <div class="col-md-9"><input type="text" class="form-control" /></div>
                </div>
                <div class="row">
                    <div class="col-md-3">Số lượng</div>
                    <div class="col-md-9"><input type="text" class="form-control" /></div>
                </div>
                <div class="row">
                    <div class="col-md-3">Tổng tiền</div>
                    <div class="col-md-9"><input type="text" class="form-control" /></div>
                </div>
                <div class="row">
                    <div class="col-md-3">Ngày giao hàng</div>
                    <div class="col-md-9"><input type="text" class="form-control" /></div>
                </div>
                <div class="row">
                    <div class="col-md-6 text-center"><button class="btn btn-primary">Dặt hàng nhanh</button></div>
                    <div class="col-md-6 text-center"><button class="btn btn-primary">Thêm vào đơn hàng</button></div>
                </div>
            </div>
            <div class="text-center"><button class="btn btn-danger">Quản lý đơn hàng</button></div>
        </div>
    </div>
</div>

