
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="subject-category">
    <div class="row">
        <div class="col-md-3">
            @{Html.RenderPartial("_MenuPostPartial");}
        </div>
        <div class="col-md-9">
            <h2>Bộ truyền đại răng</h2>
            <div class="content"></div>
        </div>
    </div>
</div>

