@model Upup.ViewModels.PostDetailViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="postDetail" class="subject-category">
    <div class="row">
        <div class="col-md-3">
            @{Html.RenderPartial("_MenuPostPartial");}
        </div>
        <div class="col-md-9">
            <div class="detail">
                <h2>Bộ truyền đại răng</h2>
                <div class="content">
                    <div class="sevenPostWrap pb10">
                        <div class="sevenPostDes pb15">
                            Khởi nghiệp từ lĩnh vực vốn chỉ dành cho nam giới như ngân hàng, cơ khí, điện lạnh... song các doanh nhân 8x vẫn chứng tỏ sự sắc sảo và gặt hái nhiều thành công.
                        </div><!-- end sevenPostDes -->
                        <div class="sevenPostContent">
                            <div>
                                <strong><span style=""><span style="">Lê Thị Lan Hương - CEO HKBike</span></span></strong>
                            </div>
                            <div>
                                &nbsp;
                            </div>
                            <div style="text-align: center;">
                                <img alt="" src="https://static1.cafeland.vn/cafelandData/upload/tintuc/doanhnhan/2016/03/tuan-02/huongbikejpg68801457409510-1457436147.jpg" style="width: 500px; height: 333px;">
                            </div>
                            <div style="text-align: center;">
                                <em><span style=""><span style="">CEO HKBike Lê Thị Lan Hương.</span></span></em>
                            </div>
                            <div>
                                &nbsp;
                            </div>
                            <div>
                                <span style=""><span style="">Lê Thị Lan Hương sinh năm 1986 trong gia đình không có truyền thống kinh doanh. Bố mẹ là công nhân nên tuổi thơ của chị gắn liền với làng quê nghèo. Hương thường đi bắt ếch bắt cua hoặc lên đồi hái củi giúp đỡ gia đình.</span></span>
                            </div>
                            <div>
                                &nbsp;
                            </div>
                            <div>
                                <span style=""><span style="">Hai lần thi trượt đại học khi theo đuổi khối C, Hương quay trở về với đam mê và thế mạnh của mình là các môn tự nhiên. Lần thứ 3 lều chõng đi thi, Hương đỗ đại học. Suốt thời gian đèn sách, Hương luôn tranh thủ thời gian để làm thêm trang trải cuộc sống.</span></span>
                            </div>
                            <div>
                                &nbsp;
                            </div>
                            <div>
                                <span style=""><span style="">Sau khi tốt nghiệp, Hương làm nhân viên bán hàng của một cửa hàng điện thoại di động nhỏ, rồi làm nhân viên kinh doanh kiêm luôn vận chuyển hàng. Nửa năm sau, Hương thử sức với công việc truyền thông, marketing, phát triển thị trường. Sau đúng 6 tháng, cô được cân nhắc lên vị trí trưởng phòng, đó là cuối năm 2011. Đầu năm 2012, Hương bắt đầu thử sức với lĩnh vực mới sản xuất xe đạp điện. Sau đúng 6 tháng nghiên cứu thị trường, tìm tòi công nghệ, cửa hàng xe điện đầu tiên mang tên HKbike được khai trương.</span></span>
                            </div>
                            <div>
                                &nbsp;
                            </div>
                            <div>
                                <span style=""><span style="">Giữa năm 2013, sau khi phân tích kỹ lưỡng và làm lại bộ nhận diện, Hương tách ra hoạt động riêng, xây dựng thương hiệu mang tên HKbike và trở thành Tổng giám đốc điều phối hoạt động tại Công ty CP xe điện quốc tế HKbike. Chỉ sau 2 năm, Hương phát triển được 130 showroom và đang hợp tác với nhiều đối tác lớn như Bosch, Công ty sản xuất pin Samsung...</span></span>
                            </div>
                            <div>
                                &nbsp;
                            </div>
                            <div>
                                <span style=""><span style="">Trong năm 2016, Hương đặt mục tiêu phát triển thành chuỗi Head quy mô lớn. Hiện Hương đã xây dựng thành công hơn 50 Head tại nhiều tỉnh, thành. Với phương thức làm tích hợp dọc, đầu tư kỹ lưỡng vào chất lượng và xây dựng hệ thống phân phối mạnh, mang lại cho chị doanh thu ổn định hàng trăm tỷ mỗi năm.</span></span>
                            </div>
                            <div>
                                &nbsp;
                            </div>
                            <div>
                                <strong><span style="">Phạm Đỗ Diễm Hương - Chủ tịch HĐQT Nhựa Tân Đại Hưng</span></strong>
                            </div>
                            <div>
                                &nbsp;
                            </div>
                            <div>
                                <span style=""><span style="">Sinh năm 1989, hiện Diễm Hương là chủ tịch kiêm tổng giám đốc công ty CP Nhựa Tân Đại Hưng (mã CK: TPC). Trước đó, vị trí này từng do bố cô là ông Phạm Trung Cang đảm nhiệm nhưng tuyên bố từ chức vào ngày 19/9/2012.</span></span>
                            </div>
                            <div>
                                &nbsp;
                            </div>
                            <div>
                                <span style=""><span style="">Quyết định bổ nhiệm chị Hương được thông qua trong đại hội cổ đông thường niên 2013, khi chị mới 26 tuổi và Diễm Hương trở thành nữ tướng trẻ nhất sàn chứng khoán thời điểm đó. Hiện chị đang sở hữu 896.700 cổ phiếu TPC (tương đương với 3,7%).</span></span>
                            </div>
                            <div>
                                &nbsp;
                            </div>
                            <div>
                                <strong><span style=""><span style="">Đặng Huỳnh Ức My - "Công chúa mía đường"</span></span></strong>
                            </div>
                            <div style="text-align: center;">
                                <strong><span style=""><span style=""><img alt="" src="https://static1.cafeland.vn/cafelandData/upload/tintuc/doanhnhan/2016/03/tuan-02/congchuamiaduong72351457409511-1457436093.jpg" style="width: 500px; height: 375px;"></span></span></strong>
                            </div>
                            <div>
                                &nbsp;
                            </div>
                            <div style="text-align: center;">
                                <em><span style="">Bà Đặng Huỳnh Ức My.</span></em>
                            </div>
                            <div>
                                &nbsp;
                            </div>
                            <div>
                                <span style=""><span style="">Ức My sinh năm 1984, từng học tập và lấy bằng cử nhân quản trị kinh doanh - tài chính tại New Zealand. Không nối nghiệp cha là ông Đặng Văn Thành - nguyên Chủ tịch Ngân hàng Sacombank và anh trai Đặng Hồng Anh - nguyên Chủ tịch Hội đồng công ty Địa ốc Sài Gòn Thương Tín - Sacomreal), Ức My chọn theo ngành mía đường của mẹ, từ đó được mệnh danh là "công chúa mía đường".</span></span>
                            </div>
                            <div>
                                &nbsp;
                            </div>
                            <div>
                                <span style=""><span style="">Được thừa kế khối tài sản lớn từ mẹ là "Nữ hoàng mía đường" Huỳnh Bích Ngọc, chị luôn góp mặt trong top những người phụ nữ giàu nhất thị trường chứng khoán Việt Nam. Tính đến 3/12/2015 tổng tài sản trên thị trường chứng khoán sau giao dịch của chị lên tới 307 tỷ đồng.</span></span>
                            </div>
                            <div>
                                &nbsp;
                            </div>
                            <div>
                                <span style=""><span style="">Hồi cuối năm ngoái, "công chúa mía đường" đã hoàn tất giao dịch bán cổ phiếu Mía đường Thành Thành Công và Đường Biên Hòa thu về 158 tỷ đồng. Mới đây cả hai cổ phiếu BHS và SBT đều lọt vào rổ 21 cổ phiếu của FTSE Vietnam Index trong lần đảo danh mục cuối cùng của năm 2015.</span></span>
                            </div>
                            <div>
                                &nbsp;
                            </div>
                            <div>
                                <strong><span style=""><span style="">Lương Thị Cẩm Tú - CEO Ngân hàng Nam Á</span></span></strong>
                            </div>
                            <div style="text-align: center;">
                                <strong><span style=""><span style=""><img alt="" src="https://static1.cafeland.vn/cafelandData/upload/tintuc/doanhnhan/2016/03/tuan-02/ceonama43901457409511-1457436060.jpg" style="width: 500px; height: 309px;"></span></span></strong>
                            </div>
                            <div>
                                &nbsp;
                            </div>
                            <div style="text-align: center;">
                                <em><span style="">CEO Nam A Bank Lương Thị Cẩm Tú.</span></em>
                            </div>
                            <div>
                                &nbsp;
                            </div>
                            <div>
                                <span style=""><span style="">Chị Tú sinh năm 1980, được bổ nhiệm vào vị trí Tổng giám đốc Ngân hàng Nam Á kể từ ngày 4/4/2015. Chị tốt nghiệp ngành quản trị kinh doanh loại ưu năm 2002, sau đó lấy bằng thạc sĩ tại Đại học Griggs (Mỹ) và có 14 năm kinh nghiệm công tác trong lĩnh vực tài chính ngân hàng.</span></span>
                            </div>
                            <div>
                                &nbsp;
                            </div>
                            <div>
                                <span style=""><span style="">Trong quá trình công tác, nữ CEO này đã ghi được nhiều dấu ấn thành công, gần đây nhất là việc góp phần quan trọng vào công cuộc tái cấu trúc và nâng cao năng lực cạnh tranh cho thương hiệu Nam A Bank với cương vị Phó tổng giám đốc thường trực đến CEO của ngân hàng này.</span></span>
                            </div>
                            <div>
                                &nbsp;
                            </div>
                            <div>
                                <span style=""><span style="">Năm 2015, dưới sự dẫn dắt của CEO trẻ này, Ngân hàng Nam Á đặt mục tiêu tăng trưởng cao với lợi nhuận 360 tỷ đồng trước thuế, tăng gấp 1,5 lần mức thực hiện năm 2014. Đồng thời, trong năm nay, nhà băng sẽ sớm niêm yết cổ phiếu trên thị trường chứng khoán.</span></span>
                            </div>
                            <div>
                                &nbsp;
                            </div>
                            <div>
                                <strong><span style=""><span style="">Hoàng Hải Anh - Chủ tịch Hội đồng quản trị công ty Chứng khoán Dầu khí</span></span></strong>
                            </div>
                            <div>
                                &nbsp;
                            </div>
                            <div style="text-align: center;">
                                <strong><span style=""><span style=""><img alt="" src="https://static1.cafeland.vn/cafelandData/upload/tintuc/doanhnhan/2016/03/tuan-02/hoanghaianh47031457409512-1457436018.jpg" style="width: 500px; height: 356px;"></span></span></strong>
                            </div>
                            <div>
                                &nbsp;
                            </div>
                            <div style="text-align: center;">
                                <em><span style=""><span style="">Chủ tịch Hội đồng PSI Hoàng Hải Anh.</span></span></em>
                            </div>
                            <div>
                                &nbsp;
                            </div>
                            <div>
                                <span style=""><span style="">Sinh năm 1981, khởi nghiệp từ vị trí chuyên viên đầu tư tại Tổng công ty Tài chính cổ phần Dầu khí Việt Nam (PVFC, nay là PVCombank) vào năm 2007, 3 năm sau Hải Anh được bổ nhiệm chức Giám đốc phụ trách bộ phận Đầu tư. Sau đó chị tiếp tục gặp cơ hội mới tại Chứng khoán Dầu khí (PSI) và gia nhập doanh nghiệp trong cương vị Phó tổng giám đốc. Đến năm 2013, Hải Anh trở thành Chủ tịch Hội đồng quản trị công ty khi vừa tròn 32 tuổi. Trong giới chứng khoán, chị cũng là nữ lãnh đạo hiếm hoi thuộc thế hệ 8x.</span></span>
                            </div>
                            <div>
                                &nbsp;
                            </div>
                            <div>
                                <span style=""><span style="">Đảm nhiệm vai trò lãnh đạo đúng thời điểm công ty ở giai đoạn khó khăn nhất, nữ lãnh đạo trẻ từng nhiều lần trăn trở suy tính chiến lược vực dậy công ty. Năm 2011, PSI báo lỗ trên 93 tỷ đồng khi thị trường chứng khoán trải qua nhiều biến cố. Nhưng một năm sau doanh nghiệp có lãi trở lại nhưng mới chỉ đạt hơn 816 triệu đồng và còn tồn lỗ lũy kế trên 80 tỷ đồng. Theo chị, trong mỗi doanh nghiệp, vai trò của người đứng đầu không đơn thuần chỉ là điều hành mà còn là người bạn, người định hướng và truyền cảm hứng cho tất cả nhân viên.</span></span>
                            </div>
                        </div><!-- end sevenPostContent -->
                        <div class="sevenPostAuthor">
                            Thanh Thanh (VnExpress)
                        </div><!-- sevenPostAuthor -->
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>