
@{
    ViewBag.Title = "TechGuide";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="subject-category">
    <div class="row">
        <div class="col-md-3">
            @{Html.RenderPartial("_MenuPartial");}
        </div>
        <div class="col-md-9">
            <div class="poster">
                <img src="~/Images/banners/poster1.jpg" />
                <div class="slogan">
                    <div>
                        <div>
                            <h2>WAKE UP EARLY DON'T MISS THE WEEKEND</h2>
                            <h3>Never bully the weak never fear the strong. It's probably broken!!</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>