@{
    ViewBag.Title = "Thông tin tổng quan";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<section class="content-header">Dữ liệu tổng quan</section>
<section class="content"></section>

@section AddScriptToBody{
    <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
    <script src="@Url.Content("~/Scripts/dashboard2.js")" type="text/javascript"></script>
}
