<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=112.78.2.204,1433;Initial Catalog=upu10905a_db;Persist Security Info=True;User ID=upu10905a_upup_admin;Password=wMu1o37?" providerName="System.Data.SqlClient" />
  <!--<add name="DefaultConnection" connectionString="Data Source=DESKTOP-4EQBIPT;Initial Catalog=upu10905a_db;Persist Security Info=True;User ID=sa;Password=P@ssword" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="LogoUrl" value="20171119204531562_4b97249fd69745059bcfcba3e4c917ba.jpg" />
    <add key="FacebookLink" value="https://www.facebook.com/hoangtrang" />
    <add key="GooglePlus" value="https://plus.google.com/hoangtrang" />
    <add key="Twitter" value="https://twitter.com/hoangtrang" />
    <add key="YoutubeLink" value="https://www.youtube.com/channel/hoangtrang" />
    <add key="CompanyName" value="Hoangtrang Industrial Equipment Co.,ltd (HIEC)" />
    <add key="Phone" value="0222-361-1555" />
    <add key="Fax" value="0222-361-2555" />
    <add key="Email" value="cs@upup.com.vn" />
    <add key="WorkTime" value="Thứ 2 đến Thứ 7: 8 giờ s&amp;#225;ng đến 6 giờ chiều &amp;lt;br/&amp;gt; Hạn ch&amp;#243;t đặt h&amp;#224;ng l&amp;#224; 5 giờ chiều" />
    <add key="Slogan" value="Chuy&amp;#234;n cung c&amp;#226;́p chi ti&amp;#234;́t, thi&amp;#234;́t bị cơ khí &amp;lt;br/&amp;gt; Kh&amp;#244;ng giới hạn s&amp;#244;́ lượng mua hàng" />
    <add key="Slogan_en" value="Chuy&amp;#234;n cung c&amp;#226;́p chi ti&amp;#234;́t, thi&amp;#234;́t bị cơ khí &amp;lt;br/&amp;gt; Kh&amp;#244;ng giới hạn s&amp;#244;́ lượng mua hàng" />
    <add key="MetaKeyword" />
    <add key="MetaKeyword_en" />
    <add key="MetaDescription" />
    <add key="MetaDescription_en" />
    <add key="TechBannerUrl" value="20171120125857885_0e776bba23f54a238831da85ee5271cc.jpg" />
    <add key="TechSlogan" value="WAKE UP EARLY DON&amp;#39;T MISS THE WEEKEND &amp;lt;br/&amp;gt; Never bully the weak never fear the strong. It&amp;#39;s probably broken!!" />
    <add key="GuideBannerUrl" value="20171120202235867_3f30af51d3034bd68a1bed82bc894bb0.jpg" />
    <add key="GuideSlogan" value="MapleStory Mechanic Skill Build Guide | AyumiLove" />
    <add key="EventBannerUrl" value="20171120202416541_0e5239d043de46dba3d928f71c94358f.jpg" />
    <add key="EventSlogan" value="Mechanics Hall - Concert and Rental Venue in Worcester, MA" />
    <add key="MainBannerUrl1" value="20171216142616374_bc2864340d6c4d58b1801516a8a573d2.jpg" />
    <add key="MainSlogan1" value="Slogan 1" />
    <add key="MainBannerUrl2" value="20171216142627767_504970c56b964fe8b1bf4ae4b3ff50a6.jpg" />
    <add key="MainSlogan2" value="Slogan 2" />
    <add key="MainBannerUrl3" value="20171216142634461_64c7be3b80e347cea9df619b1ac92651.jpg" />
    <add key="MainSlogan3" value="Slogan 3" />
    <add key="MainBannerUrl4" value="20171216142640001_cfd6eecd00b14038a405afd71332bac6.jpg" />
    <add key="MainSlogan4" value="Slogan 4" />
  </appSettings>
  <system.web>
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1" />
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthentication" />
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.7.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.7.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>