@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

@using Upup.Helpers
@model Upup.Areas.Admin.ViewModels.PurchaseOrderDetailModel

<section class="content-header">
    <h1>
        Quản lý đơn hàng @Model.Code
        <small>Preview</small>
    </h1>
    <ol class="breadcrumb">
        <li>@Html.ActionSiteMap("ProductsConsole", "Products", null, "Tổng quan", new { @class = "fa fa-dashboard" })</li>
        <li class="active">Quản lý đơn hàng</li>
    </ol>
</section>

<div class="row">
    <div class="col-md-8">
        <section class="content">
            <div class="box box-primary">
                <div class="box-body">

                </div>
            </div>
        </section>
    </div>
    <div class="col-md-4">
        <section class="content">
            <div class="box box-primary">
                <div class="box-body">
                    <b>Tên khách hàng</b> @Model.Customer.FullName
                </div>
            </div>
        </section>
    </div>
</div>