USE [master]
GO
/****** Object:  Database [upu10905a_db]    Script Date: 22-Nov-17 10:06:13 PM ******/
CREATE DATABASE [upu10905a_db]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'upu10905a_db', FILENAME = N'C:\Program Files (x86)\Parallels\Plesk\Databases\MSSQL\MSSQL11.MSSQLSERVER2012\MSSQL\DATA\upu10905a_db.mdf' , SIZE = 5184KB , MAXSIZE = 1048576KB , FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'upu10905a_db_log', FILENAME = N'C:\Program Files (x86)\Parallels\Plesk\Databases\MSSQL\MSSQL11.MSSQLSERVER2012\MSSQL\DATA\upu10905a_db_log.ldf' , SIZE = 3840KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [upu10905a_db].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [upu10905a_db]
GO
/****** Object:  User [upu10905a_upup_admin]    Script Date: 22-Nov-17 10:06:13 PM ******/
CREATE USER [upu10905a_upup_admin] FOR LOGIN [upu10905a_upup_admin] WITH DEFAULT_SCHEMA=[upu10905a_upup_admin]
GO
ALTER ROLE [db_ddladmin] ADD MEMBER [upu10905a_upup_admin]
GO
ALTER ROLE [db_backupoperator] ADD MEMBER [upu10905a_upup_admin]
GO
ALTER ROLE [db_datareader] ADD MEMBER [upu10905a_upup_admin]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [upu10905a_upup_admin]
GO
/****** Object:  Schema [upu10905a_upup_admin]    Script Date: 22-Nov-17 10:06:14 PM ******/
CREATE SCHEMA [upu10905a_upup_admin]
GO
/****** Object:  UserDefinedFunction [dbo].[fChuyenCoDauThanhKhongDau]    Script Date: 22-Nov-17 10:06:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fChuyenCoDauThanhKhongDau](@inputVar NVARCHAR(MAX) )
RETURNS NVARCHAR(MAX)
AS
BEGIN    
    IF (@inputVar IS NULL OR @inputVar = '')  RETURN ''
   
    DECLARE @RT NVARCHAR(MAX)
    DECLARE @SIGN_CHARS NCHAR(256)
    DECLARE @UNSIGN_CHARS NCHAR (256)
 
    SET @SIGN_CHARS = N'ăâđêôơưàảãạáằẳẵặắầẩẫậấèẻẽẹéềểễệếìỉĩịíòỏõọóồổỗộốờởỡợớùủũụúừửữựứỳỷỹỵýĂÂĐÊÔƠƯÀẢÃẠÁẰẲẴẶẮẦẨẪẬẤÈẺẼẸÉỀỂỄỆẾÌỈĨỊÍÒỎÕỌÓỒỔỖỘỐỜỞỠỢỚÙỦŨỤÚỪỬỮỰỨỲỶỸỴÝ' + NCHAR(272) + NCHAR(208)
    SET @UNSIGN_CHARS = N'aadeoouaaaaaaaaaaaaaaaeeeeeeeeeeiiiiiooooooooooooooouuuuuuuuuuyyyyyAADEOOUAAAAAAAAAAAAAAAEEEEEEEEEEIIIIIOOOOOOOOOOOOOOOUUUUUUUUUUYYYYYDD'
 
    DECLARE @COUNTER int
    DECLARE @COUNTER1 int
   
    SET @COUNTER = 1
    WHILE (@COUNTER <= LEN(@inputVar))
    BEGIN  
        SET @COUNTER1 = 1
        WHILE (@COUNTER1 <= LEN(@SIGN_CHARS) + 1)
        BEGIN
            IF UNICODE(SUBSTRING(@SIGN_CHARS, @COUNTER1,1)) = UNICODE(SUBSTRING(@inputVar,@COUNTER ,1))
            BEGIN          
                IF @COUNTER = 1
                    SET @inputVar = SUBSTRING(@UNSIGN_CHARS, @COUNTER1,1) + SUBSTRING(@inputVar, @COUNTER+1,LEN(@inputVar)-1)      
                ELSE
                    SET @inputVar = SUBSTRING(@inputVar, 1, @COUNTER-1) +SUBSTRING(@UNSIGN_CHARS, @COUNTER1,1) + SUBSTRING(@inputVar, @COUNTER+1,LEN(@inputVar)- @COUNTER)
                BREAK
            END
            SET @COUNTER1 = @COUNTER1 +1
        END
        SET @COUNTER = @COUNTER +1
    END
    -- SET @inputVar = replace(@inputVar,' ','-')
    RETURN @inputVar
END
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 22-Nov-17 10:06:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AppConfigs]    Script Date: 22-Nov-17 10:06:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AppConfigs](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Key] [int] NOT NULL,
	[Value] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AppConfigs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 22-Nov-17 10:06:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 22-Nov-17 10:06:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 22-Nov-17 10:06:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 22-Nov-17 10:06:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 22-Nov-17 10:06:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](128) NOT NULL,
	[FullName] [nvarchar](max) NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
	[OrgName] [nvarchar](max) NULL,
	[DepartmentName] [nvarchar](max) NULL,
	[Address1] [nvarchar](max) NULL,
	[Address2] [nvarchar](max) NULL,
	[Address3] [nvarchar](max) NULL,
	[Address4] [nvarchar](max) NULL,
	[PostalCode] [nvarchar](max) NULL,
	[Fax] [nvarchar](max) NULL,
	[Webiste] [nvarchar](max) NULL,
	[IndustryId] [int] NULL,
	[ServiceId] [int] NULL,
	[NumberOfDesigner] [int] NULL,
	[NumberOfEmployee] [int] NULL,
	[KnowByid] [int] NULL,
	[Discriminator] [nvarchar](128) NOT NULL,
	[AutoIncrementCode] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 22-Nov-17 10:06:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Name_en] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[Description_en] [nvarchar](max) NULL,
	[ImageUrl] [nvarchar](max) NULL,
	[MetaKeyword] [nvarchar](max) NULL,
	[MetaDescription] [nvarchar](max) NULL,
	[MetaKeyword_en] [nvarchar](max) NULL,
	[MetaDescription_en] [nvarchar](max) NULL,
	[ParentCategory_Id] [bigint] NULL,
 CONSTRAINT [PK_dbo.Categories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PostCategories]    Script Date: 22-Nov-17 10:06:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PostCategories](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Name_en] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[Description_en] [nvarchar](max) NULL,
	[MetaKeyword] [nvarchar](max) NULL,
	[MetaDescription] [nvarchar](max) NULL,
	[MetaKeyword_en] [nvarchar](max) NULL,
	[MetaDescription_en] [nvarchar](max) NULL,
	[ParentCategory_Id] [bigint] NULL,
	[RootCategoryIdentifier] [int] NULL,
 CONSTRAINT [PK_dbo.PostCategories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Posts]    Script Date: 22-Nov-17 10:06:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Posts](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](max) NULL,
	[Title_en] [nvarchar](max) NULL,
	[Content] [nvarchar](max) NULL,
	[Content_en] [nvarchar](max) NULL,
	[MetaKeyword] [nvarchar](max) NULL,
	[MetaDescription] [nvarchar](max) NULL,
	[MetaKeyword_en] [nvarchar](max) NULL,
	[MetaDescription_en] [nvarchar](max) NULL,
	[CreatedDate] [datetime] NOT NULL,
	[LastModifiedDate] [datetime] NOT NULL,
	[Category_Id] [bigint] NULL,
	[Sumary] [nvarchar](max) NULL,
	[Sumary_en] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Posts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductCarts]    Script Date: 22-Nov-17 10:06:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductCarts](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Quantity] [int] NOT NULL,
	[Customer_Id] [nvarchar](128) NULL,
	[ProductVariant_Id] [bigint] NULL,
 CONSTRAINT [PK_dbo.ProductCarts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 22-Nov-17 10:06:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](max) NULL,
	[Name] [nvarchar](max) NULL,
	[Name_en] [nvarchar](max) NULL,
	[Summary] [nvarchar](max) NULL,
	[Summary_en] [nvarchar](max) NULL,
	[ImageUrl] [nvarchar](max) NULL,
	[PdfUrl] [nvarchar](max) NULL,
	[MetaKeyword] [nvarchar](max) NULL,
	[MetaDescription] [nvarchar](max) NULL,
	[MetaKeyword_en] [nvarchar](max) NULL,
	[MetaDescription_en] [nvarchar](max) NULL,
	[Category_Id] [bigint] NULL,
 CONSTRAINT [PK_dbo.Products] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductVariants]    Script Date: 22-Nov-17 10:06:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductVariants](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Product_Id] [bigint] NULL,
	[VariantName] [nvarchar](max) NULL,
	[VariantCode] [nvarchar](max) NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[OnHand] [decimal](18, 2) NOT NULL,
	[Cad2dUrl] [nvarchar](max) NULL,
	[Cad3dUrl] [nvarchar](max) NULL,
	[BrandName] [nvarchar](max) NULL,
	[Origin] [nvarchar](max) NULL,
	[ProductVariantUnit_Id] [bigint] NULL,
 CONSTRAINT [PK_dbo.ProductVariants] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductVariantUnits]    Script Date: 22-Nov-17 10:06:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductVariantUnits](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.ProductVariantUnits] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PurchaseOrderDetails]    Script Date: 22-Nov-17 10:06:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PurchaseOrderDetails](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Quantity] [float] NOT NULL,
	[Product_Id] [bigint] NULL,
	[PurchaseOrder_Id] [bigint] NULL,
	[ShipDate] [datetime] NULL,
	[State] [int] NOT NULL,
 CONSTRAINT [PK_dbo.PurchaseOrderDetails] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PurchaseOrders]    Script Date: 22-Nov-17 10:06:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PurchaseOrders](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](max) NULL,
	[Name] [nvarchar](max) NULL,
	[State] [int] NOT NULL,
	[Customer_Id] [nvarchar](128) NULL,
	[Customer_Id1] [nvarchar](128) NULL,
 CONSTRAINT [PK_dbo.PurchaseOrders] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ShipDateSettingProductVariants]    Script Date: 22-Nov-17 10:06:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShipDateSettingProductVariants](
	[ShipDateSetting_Id] [bigint] NOT NULL,
	[ProductVariant_Id] [bigint] NOT NULL,
 CONSTRAINT [PK_dbo.ShipDateSettingProductVariants] PRIMARY KEY CLUSTERED 
(
	[ShipDateSetting_Id] ASC,
	[ProductVariant_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ShipDateSettings]    Script Date: 22-Nov-17 10:06:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShipDateSettings](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[QuantityOrderMax] [int] NOT NULL,
	[TargetDateNumber] [int] NOT NULL,
 CONSTRAINT [PK_dbo.ShipDateSettings] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'624057f6-b451-4c1d-abf9-8f2a4c6282f9', N'Admin')
GO
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'cc7aa678-bd3e-4a65-9a96-87a5f7ed92a0', N'Customer')
GO
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'548068d2-4fa6-49ee-9a41-3d4c932cc98b', N'Editor')
GO
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'a136cad6-b954-4db5-a029-4af58450eab9', N'624057f6-b451-4c1d-abf9-8f2a4c6282f9')
GO
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'de28dabf-7047-47d2-91e0-5230c2b8b087', N'624057f6-b451-4c1d-abf9-8f2a4c6282f9')
GO
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'b7b0f4a0-d42b-4081-928f-91b2210a023e', N'cc7aa678-bd3e-4a65-9a96-87a5f7ed92a0')
GO
SET IDENTITY_INSERT [dbo].[AspNetUsers] ON 
GO
SET IDENTITY_INSERT [dbo].[AspNetUsers] OFF
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 
GO
INSERT [dbo].[Categories] ([Id], [Name], [Name_en], [Description], [Description_en], [ImageUrl], [MetaKeyword], [MetaDescription], [MetaKeyword_en], [MetaDescription_en], [ParentCategory_Id]) VALUES (2, N'Linear Motion', N'Linear Motion', N'<p>dasda</p>
', N'<p>fsadsa</p>
', N'20171114205246350_29517bef4e37440997a59942f43e8ae4.jpg', N'DDD 1', N'iii', N'DDD 1', N'aaa', 1)
GO
INSERT [dbo].[Categories] ([Id], [Name], [Name_en], [Description], [Description_en], [ImageUrl], [MetaKeyword], [MetaDescription], [MetaKeyword_en], [MetaDescription_en], [ParentCategory_Id]) VALUES (3, N'Crew', N'Crew', N'<p>dasdas</p>
', N'<p>fasdsa</p>
', N'20171112161005528_0a24b055ea7948adaa42bd3fb59009be.jpg', N'DDD', N'CCC', N'DDD', N'ghi', 2)
GO
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[PostCategories] ON 
GO
INSERT [dbo].[PostCategories] ([Id], [Name], [Name_en], [Description], [Description_en], [MetaKeyword], [MetaDescription], [MetaKeyword_en], [MetaDescription_en], [ParentCategory_Id], [RootCategoryIdentifier]) VALUES (1, N'Công nghệ', N'Công nghệ', N'<p>sdas</p>
', N'<p>dasd</p>
', N'sadsa', N'dsa', NULL, NULL, NULL, 1)
GO
INSERT [dbo].[PostCategories] ([Id], [Name], [Name_en], [Description], [Description_en], [MetaKeyword], [MetaDescription], [MetaKeyword_en], [MetaDescription_en], [ParentCategory_Id], [RootCategoryIdentifier]) VALUES (2, N'Hướng dẫn sử dụng', N'User Manual', N'<p>hướng dẫn sử dụng cho người d&ugrave;ng</p>
', N'<p>user manual</p>
', N'Từ khóa cho trang hướng dẫn sử dụng', N'các  thông tin về hướng dẫn sử dụng', NULL, NULL, NULL, 2)
GO
INSERT [dbo].[PostCategories] ([Id], [Name], [Name_en], [Description], [Description_en], [MetaKeyword], [MetaDescription], [MetaKeyword_en], [MetaDescription_en], [ParentCategory_Id], [RootCategoryIdentifier]) VALUES (3, N'Triển lãm sự kiện', N'Event', N'<p>event</p>
', N'<p>&aacute;d</p>
', N'2', N'1', NULL, NULL, NULL, 3)
GO
SET IDENTITY_INSERT [dbo].[PostCategories] OFF
GO
SET IDENTITY_INSERT [dbo].[Posts] ON 
GO
SET IDENTITY_INSERT [dbo].[Posts] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductCarts] ON 
GO
INSERT [dbo].[ProductCarts] ([Id], [Quantity], [Customer_Id], [ProductVariant_Id]) VALUES (1, 1, NULL, 3)
GO
INSERT [dbo].[ProductCarts] ([Id], [Quantity], [Customer_Id], [ProductVariant_Id]) VALUES (2, 3, NULL, 6)
GO
INSERT [dbo].[ProductCarts] ([Id], [Quantity], [Customer_Id], [ProductVariant_Id]) VALUES (3, 1, NULL, 6)
GO
SET IDENTITY_INSERT [dbo].[ProductCarts] OFF
GO
SET IDENTITY_INSERT [dbo].[Products] ON 
GO
INSERT [dbo].[Products] ([Id], [Code], [Name], [Name_en], [Summary], [Summary_en], [ImageUrl], [PdfUrl], [MetaKeyword], [MetaDescription], [MetaKeyword_en], [MetaDescription_en], [Category_Id]) VALUES (1, N'CR', N'Máy cơ khí', N'Máy cơ khí', N'<p>dasdsa</p>
', N'<p>dasdsad</p>
', N'20171118193408472_0eeb81e81ee14c0f952450a8f3ab21f7.jpg', N'20171119105338453_08d1838e575242549c5a8fe98cca7747.pdf', N'DDD 1', N'abx', N'xxx', N'cdscs', 3)
GO
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductVariants] ON 
GO
INSERT [dbo].[ProductVariants] ([Id], [Product_Id], [VariantName], [VariantCode], [Price], [OnHand], [Cad2dUrl], [Cad3dUrl], [BrandName], [Origin], [ProductVariantUnit_Id]) VALUES (2, 1, N'BBB', N'DEE', CAST(3000000.00 AS Decimal(18, 2)), CAST(10.00 AS Decimal(18, 2)), N'20171113123928185_b2ee35dec7c44cad9bea83fc8d33a7bc.pdf', N'20171113123933732_b781803169cb476b8b9e3601904de2dc.pdf', N'GHO', N'Japan', 2)
GO
INSERT [dbo].[ProductVariants] ([Id], [Product_Id], [VariantName], [VariantCode], [Price], [OnHand], [Cad2dUrl], [Cad3dUrl], [BrandName], [Origin], [ProductVariantUnit_Id]) VALUES (3, 1, N'DDD', N'EEE', CAST(500000.00 AS Decimal(18, 2)), CAST(4.00 AS Decimal(18, 2)), N'', N'', N'ASD', N'Huno', 2)
GO
INSERT [dbo].[ProductVariants] ([Id], [Product_Id], [VariantName], [VariantCode], [Price], [OnHand], [Cad2dUrl], [Cad3dUrl], [BrandName], [Origin], [ProductVariantUnit_Id]) VALUES (4, 1, N'CCC', N'TTT', CAST(25000.00 AS Decimal(18, 2)), CAST(10.00 AS Decimal(18, 2)), N'20171114124732841_cd7273836de64d2a843e382bd9ebd673.pdf', N'20171114124738271_8addc18184bc4d9582ab948f07117031.pdf', N'Brazo', N'New York', 2)
GO
SET IDENTITY_INSERT [dbo].[ProductVariants] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductVariantUnits] ON 
GO
INSERT [dbo].[ProductVariantUnits] ([Id], [Name]) VALUES (2, N'Cái')
GO
INSERT [dbo].[ProductVariantUnits] ([Id], [Name]) VALUES (3, N'Bộ')
GO
SET IDENTITY_INSERT [dbo].[ProductVariantUnits] OFF
GO
INSERT [dbo].[ShipDateSettingProductVariants] ([ShipDateSetting_Id], [ProductVariant_Id]) VALUES (1, 2)
GO
INSERT [dbo].[ShipDateSettingProductVariants] ([ShipDateSetting_Id], [ProductVariant_Id]) VALUES (2, 2)
GO
INSERT [dbo].[ShipDateSettingProductVariants] ([ShipDateSetting_Id], [ProductVariant_Id]) VALUES (1, 3)
GO
SET IDENTITY_INSERT [dbo].[ShipDateSettings] ON 
GO
INSERT [dbo].[ShipDateSettings] ([Id], [QuantityOrderMax], [TargetDateNumber]) VALUES (1, 10, 3)
GO
INSERT [dbo].[ShipDateSettings] ([Id], [QuantityOrderMax], [TargetDateNumber]) VALUES (2, 50, 7)
GO
INSERT [dbo].[ShipDateSettings] ([Id], [QuantityOrderMax], [TargetDateNumber]) VALUES (3, 120, 12)
GO
SET IDENTITY_INSERT [dbo].[ShipDateSettings] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [RoleNameIndex]    Script Date: 22-Nov-17 10:06:17 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [RoleNameIndex] ON [dbo].[AspNetRoles]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserId]    Script Date: 22-Nov-17 10:06:17 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserClaims]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserId]    Script Date: 22-Nov-17 10:06:17 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserLogins]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_RoleId]    Script Date: 22-Nov-17 10:06:17 PM ******/
CREATE NONCLUSTERED INDEX [IX_RoleId] ON [dbo].[AspNetUserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserId]    Script Date: 22-Nov-17 10:06:17 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserRoles]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UserNameIndex]    Script Date: 22-Nov-17 10:06:17 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UserNameIndex] ON [dbo].[AspNetUsers]
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ParentCategory_Id]    Script Date: 22-Nov-17 10:06:17 PM ******/
CREATE NONCLUSTERED INDEX [IX_ParentCategory_Id] ON [dbo].[Categories]
(
	[ParentCategory_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ParentCategory_Id]    Script Date: 22-Nov-17 10:06:17 PM ******/
CREATE NONCLUSTERED INDEX [IX_ParentCategory_Id] ON [dbo].[PostCategories]
(
	[ParentCategory_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Category_Id]    Script Date: 22-Nov-17 10:06:17 PM ******/
CREATE NONCLUSTERED INDEX [IX_Category_Id] ON [dbo].[Posts]
(
	[Category_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Customer_Id]    Script Date: 22-Nov-17 10:06:17 PM ******/
CREATE NONCLUSTERED INDEX [IX_Customer_Id] ON [dbo].[ProductCarts]
(
	[Customer_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProductVariant_Id]    Script Date: 22-Nov-17 10:06:17 PM ******/
CREATE NONCLUSTERED INDEX [IX_ProductVariant_Id] ON [dbo].[ProductCarts]
(
	[ProductVariant_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Category_Id]    Script Date: 22-Nov-17 10:06:17 PM ******/
CREATE NONCLUSTERED INDEX [IX_Category_Id] ON [dbo].[Products]
(
	[Category_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Product_Id]    Script Date: 22-Nov-17 10:06:17 PM ******/
CREATE NONCLUSTERED INDEX [IX_Product_Id] ON [dbo].[ProductVariants]
(
	[Product_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProductVariantUnit_Id]    Script Date: 22-Nov-17 10:06:17 PM ******/
CREATE NONCLUSTERED INDEX [IX_ProductVariantUnit_Id] ON [dbo].[ProductVariants]
(
	[ProductVariantUnit_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Product_Id]    Script Date: 22-Nov-17 10:06:17 PM ******/
CREATE NONCLUSTERED INDEX [IX_Product_Id] ON [dbo].[PurchaseOrderDetails]
(
	[Product_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_PurchaseOrder_Id]    Script Date: 22-Nov-17 10:06:17 PM ******/
CREATE NONCLUSTERED INDEX [IX_PurchaseOrder_Id] ON [dbo].[PurchaseOrderDetails]
(
	[PurchaseOrder_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Customer_Id]    Script Date: 22-Nov-17 10:06:17 PM ******/
CREATE NONCLUSTERED INDEX [IX_Customer_Id] ON [dbo].[PurchaseOrders]
(
	[Customer_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Customer_Id1]    Script Date: 22-Nov-17 10:06:17 PM ******/
CREATE NONCLUSTERED INDEX [IX_Customer_Id1] ON [dbo].[PurchaseOrders]
(
	[Customer_Id1] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProductVariant_Id]    Script Date: 22-Nov-17 10:06:17 PM ******/
CREATE NONCLUSTERED INDEX [IX_ProductVariant_Id] ON [dbo].[ShipDateSettingProductVariants]
(
	[ProductVariant_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ShipDateSetting_Id]    Script Date: 22-Nov-17 10:06:17 PM ******/
CREATE NONCLUSTERED INDEX [IX_ShipDateSetting_Id] ON [dbo].[ShipDateSettingProductVariants]
(
	[ShipDateSetting_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PurchaseOrderDetails] ADD  DEFAULT ((0)) FOR [State]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[Categories]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Categories_dbo.Categories_ParentCategory_Id] FOREIGN KEY([ParentCategory_Id])
REFERENCES [dbo].[Categories] ([Id])
GO
ALTER TABLE [dbo].[Categories] CHECK CONSTRAINT [FK_dbo.Categories_dbo.Categories_ParentCategory_Id]
GO
ALTER TABLE [dbo].[PostCategories]  WITH CHECK ADD  CONSTRAINT [FK_dbo.PostCategories_dbo.PostCategories_ParentCategory_Id] FOREIGN KEY([ParentCategory_Id])
REFERENCES [dbo].[PostCategories] ([Id])
GO
ALTER TABLE [dbo].[PostCategories] CHECK CONSTRAINT [FK_dbo.PostCategories_dbo.PostCategories_ParentCategory_Id]
GO
ALTER TABLE [dbo].[Posts]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Posts_dbo.PostCategories_Category_Id] FOREIGN KEY([Category_Id])
REFERENCES [dbo].[PostCategories] ([Id])
GO
ALTER TABLE [dbo].[Posts] CHECK CONSTRAINT [FK_dbo.Posts_dbo.PostCategories_Category_Id]
GO
ALTER TABLE [dbo].[ProductCarts]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ProductCarts_dbo.AspNetUsers_Customer_Id] FOREIGN KEY([Customer_Id])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[ProductCarts] CHECK CONSTRAINT [FK_dbo.ProductCarts_dbo.AspNetUsers_Customer_Id]
GO
ALTER TABLE [dbo].[ProductCarts]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ProductCarts_dbo.ProductVariants_ProductVariant_Id] FOREIGN KEY([ProductVariant_Id])
REFERENCES [dbo].[ProductVariants] ([Id])
GO
ALTER TABLE [dbo].[ProductCarts] CHECK CONSTRAINT [FK_dbo.ProductCarts_dbo.ProductVariants_ProductVariant_Id]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Products_dbo.Categories_Category_Id] FOREIGN KEY([Category_Id])
REFERENCES [dbo].[Categories] ([Id])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_dbo.Products_dbo.Categories_Category_Id]
GO
ALTER TABLE [dbo].[ProductVariants]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ProductVariants_dbo.Products_Product_Id] FOREIGN KEY([Product_Id])
REFERENCES [dbo].[Products] ([Id])
GO
ALTER TABLE [dbo].[ProductVariants] CHECK CONSTRAINT [FK_dbo.ProductVariants_dbo.Products_Product_Id]
GO
ALTER TABLE [dbo].[ProductVariants]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ProductVariants_dbo.ProductVariantUnits_ProductVariantUnit_Id] FOREIGN KEY([ProductVariantUnit_Id])
REFERENCES [dbo].[ProductVariantUnits] ([Id])
GO
ALTER TABLE [dbo].[ProductVariants] CHECK CONSTRAINT [FK_dbo.ProductVariants_dbo.ProductVariantUnits_ProductVariantUnit_Id]
GO
ALTER TABLE [dbo].[PurchaseOrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_dbo.PurchaseOrderDetails_dbo.ProductVariants_Product_Id] FOREIGN KEY([Product_Id])
REFERENCES [dbo].[ProductVariants] ([Id])
GO
ALTER TABLE [dbo].[PurchaseOrderDetails] CHECK CONSTRAINT [FK_dbo.PurchaseOrderDetails_dbo.ProductVariants_Product_Id]
GO
ALTER TABLE [dbo].[PurchaseOrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_dbo.PurchaseOrderDetails_dbo.PurchaseOrders_PurchaseOrder_Id] FOREIGN KEY([PurchaseOrder_Id])
REFERENCES [dbo].[PurchaseOrders] ([Id])
GO
ALTER TABLE [dbo].[PurchaseOrderDetails] CHECK CONSTRAINT [FK_dbo.PurchaseOrderDetails_dbo.PurchaseOrders_PurchaseOrder_Id]
GO
ALTER TABLE [dbo].[PurchaseOrders]  WITH CHECK ADD  CONSTRAINT [FK_dbo.PurchaseOrders_dbo.AspNetUsers_Customer_Id] FOREIGN KEY([Customer_Id])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[PurchaseOrders] CHECK CONSTRAINT [FK_dbo.PurchaseOrders_dbo.AspNetUsers_Customer_Id]
GO
ALTER TABLE [dbo].[PurchaseOrders]  WITH CHECK ADD  CONSTRAINT [FK_dbo.PurchaseOrders_dbo.AspNetUsers_Customer_Id1] FOREIGN KEY([Customer_Id1])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[PurchaseOrders] CHECK CONSTRAINT [FK_dbo.PurchaseOrders_dbo.AspNetUsers_Customer_Id1]
GO
ALTER TABLE [dbo].[ShipDateSettingProductVariants]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ShipDateSettingProductVariants_dbo.ProductVariants_ProductVariant_Id] FOREIGN KEY([ProductVariant_Id])
REFERENCES [dbo].[ProductVariants] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ShipDateSettingProductVariants] CHECK CONSTRAINT [FK_dbo.ShipDateSettingProductVariants_dbo.ProductVariants_ProductVariant_Id]
GO
ALTER TABLE [dbo].[ShipDateSettingProductVariants]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ShipDateSettingProductVariants_dbo.ShipDateSettings_ShipDateSetting_Id] FOREIGN KEY([ShipDateSetting_Id])
REFERENCES [dbo].[ShipDateSettings] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ShipDateSettingProductVariants] CHECK CONSTRAINT [FK_dbo.ShipDateSettingProductVariants_dbo.ShipDateSettings_ShipDateSetting_Id]
GO
/****** Object:  StoredProcedure [upu10905a_upup_admin].[SearchForPostByTitle]    Script Date: 22-Nov-17 10:06:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [upu10905a_upup_admin].[SearchForPostByTitle]
	@term NVARCHAR(MAX)
AS
BEGIN

	DECLARE @term_ko_dau NVARCHAR(MAX) = LOWER(LTRIM(RTRIM( dbo.fChuyenCoDauThanhKhongDau(@term) )));
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT * FROM Posts
	WHERE 
	LOWER(LTRIM(RTRIM( dbo.fChuyenCoDauThanhKhongDau(Posts.Title)))) LIKE '%' + @term_ko_dau +'%'
	OR LOWER(LTRIM(RTRIM( dbo.fChuyenCoDauThanhKhongDau(Posts.Title_en)))) LIKE '%' + @term_ko_dau +'%'	

END
GO
/****** Object:  StoredProcedure [upu10905a_upup_admin].[SearchForPostContent]    Script Date: 22-Nov-17 10:06:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [upu10905a_upup_admin].[SearchForPostContent]
	@term NVARCHAR(MAX)
AS
BEGIN

	DECLARE @term_ko_dau NVARCHAR(MAX) = LOWER(LTRIM(RTRIM( dbo.fChuyenCoDauThanhKhongDau(@term) )));
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT * FROM Posts
	WHERE 
	LOWER(LTRIM(RTRIM( dbo.fChuyenCoDauThanhKhongDau(Posts.Content)))) LIKE '%' + @term_ko_dau +'%'
	OR LOWER(LTRIM(RTRIM( dbo.fChuyenCoDauThanhKhongDau(Posts.Content_en)))) LIKE '%' + @term_ko_dau +'%'	

END
GO
/****** Object:  StoredProcedure [upu10905a_upup_admin].[SearchForProduct]    Script Date: 22-Nov-17 10:06:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [upu10905a_upup_admin].[SearchForProduct]
	@term NVARCHAR(MAX)
AS
BEGIN

	DECLARE @term_ko_dau NVARCHAR(MAX) = LOWER(LTRIM(RTRIM( dbo.fChuyenCoDauThanhKhongDau(@term) )));
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT * FROM Products
	WHERE 
	LOWER(LTRIM(RTRIM( dbo.fChuyenCoDauThanhKhongDau(Products.[Name])))) LIKE '%' + @term_ko_dau +'%'
	OR LOWER(LTRIM(RTRIM( dbo.fChuyenCoDauThanhKhongDau(Products.[Name_en])))) LIKE '%' + @term_ko_dau +'%'
	OR LOWER(LTRIM(RTRIM( dbo.fChuyenCoDauThanhKhongDau(Products.Code)))) LIKE '%' + @term_ko_dau +'%'

END
GO
USE [master]
GO
