@using Microsoft.AspNet.Identity
@using Upup.Globalization
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="text-right">
        <li>
            @Html.ActionLink(Lang.Account, "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    </ul>
    }
}
else
{
    <ul class="text-right">
        <li>@Html.ActionLink(Lang.Register, "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class= "btn btn-primary pull-right bg-base-color-dark" })</li>
        <li>@Html.ActionLink(Lang.Login, "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "btn btn-primary pull-right bg-base-color-dark" })</li>
    </ul>
}
