
<div class="header">
    <div class="head-category">
        <h3>Hướng dẫn sử dụng</h3>
        <div class="post-category-list">
            <dl class="post-category-list-caption">
                <dd>
                    <a href="#" class="link">
                        <span>Linh kiện máy</span>
                    </a>
                </dd>
                <dd>
                    <a href="#" class="link">
                        <span>Linh kiện nhỏ</span>
                    </a>
                </dd>
                <dd>
                    <a href="#" class="link">
                        <span>Hỗ trợ gia công</span>
                    </a>
                </dd>
            </dl>
        </div>
    </div>
</div>