@model Upup.Models.PostCategory
@using Upup.Models

<div class="header">
    <div class="head-category">
        <h3>@Model.Name</h3>
        <div class="post-category-list">
            <dl class="post-category-list-caption">
                @{
                    foreach (var item in Model.ChildCategories)
                    {
                        <dd>
                            <a data-id="@item.Id" href="#" class="link">
                                <span class="lang-vi">@item.Name</span>
                                <span class="lang-en">@item.Name_en</span>
                            </a>
                        </dd>
                    }
                }
            </dl>
            <button data-toggle="collapse" data-target="#demo">Collapsible</button>
            <div id="demo" class="collapse">
                Lorem ipsum dolor text....
            </div>
        </div>
    </div>
</div>