
<div class="header">
    <div class="head-category">
        <div class="category-list">
            <dl class="category-list-caption">
                <dd class="mech">
                    <a href="#" class="link">
                        <span>Linh kiện tự động hóa</span>
                    </a>
                    <div class="category-list-box">
                        <p class="subtitle"><span>Linh kiện tự động hóa</span></p>
                        <p class="category-list-caption">A wide variety of standard and configurable components for factory automation engineers in industries such as automotive, semiconductor, packaging, medical and many more.</p>
                        <ul>
                            <li id="categoryChild_M0100000000"><a href="/vona2/mech/M0100000000/" data-head-category-code="M0100000000">Linear Motion</a></li>
                            <li id="categoryChild_M0800000000"><a href="/vona2/mech/M0800000000/" data-head-category-code="M0800000000">Rotary Motion</a></li>
                            <li id="categoryChild_M2200000000"><a href="/vona2/mech/M2200000000/" data-head-category-code="M2200000000">Connecting Parts</a></li>
                            <li id="categoryChild_M1000000000"><a href="/vona2/mech/M1000000000/" data-head-category-code="M1000000000">Rotary Power Transmission</a></li>
                            <li id="categoryChild_M0900000000"><a href="/vona2/mech/M0900000000/" data-head-category-code="M0900000000">Motors</a></li>
                            <li id="categoryChild_M1100000000"><a href="/vona2/mech/M1100000000/" data-head-category-code="M1100000000">Conveyors &amp; Material Handling</a></li>
                            <li id="categoryChild_M0300000000"><a href="/vona2/mech/M0300000000/" data-head-category-code="M0300000000">Locating, Positioning, Jigs &amp; Fixtures</a></li>
                            <li id="categoryChild_M0500000000"><a href="/vona2/mech/M0500000000/" data-head-category-code="M0500000000">Inspection</a></li>
                            <li id="categoryChild_M0400000000"><a href="/vona2/mech/M0400000000/" data-head-category-code="M0400000000">Sensors, Switches</a></li>
                            <li id="categoryChild_M1900000000"><a href="/vona2/mech/M1900000000/" data-head-category-code="M1900000000">Pneumatics, Hydraulics</a></li>
                            <li id="categoryChild_M3400000000"><a href="/vona2/mech/M3400000000/" data-head-category-code="M3400000000">Vacuum Components</a></li>
                            <li id="categoryChild_M3500000000"><a href="/vona2/mech/M3500000000/" data-head-category-code="M3500000000">Hydraulic Equipment</a></li>
                            <li id="categoryChild_M3600000000"><a href="/vona2/mech/M3600000000/" data-head-category-code="M3600000000">Discharging / Painting Devices</a></li>
                            <li id="categoryChild_M2000000000"><a href="/vona2/mech/M2000000000/" data-head-category-code="M2000000000">Pipe, Tubes, Hoses &amp; Fittings</a></li>
                            <li id="categoryChild_M2100000000"><a href="/vona2/mech/M2100000000/" data-head-category-code="M2100000000">Modules, Units</a></li>
                            <li id="categoryChild_M0600000000"><a href="/vona2/mech/M0600000000/" data-head-category-code="M0600000000">Heaters, Temperature Control</a></li>
                            <li id="categoryChild_M1500000000"><a href="/vona2/mech/M1500000000/" data-head-category-code="M1500000000">Framing &amp; Support</a></li>
                            <li id="categoryChild_M1600000000"><a href="/vona2/mech/M1600000000/" data-head-category-code="M1600000000">Casters, Leveling Mounts, Posts</a></li>
                            <li id="categoryChild_M1700000000"><a href="/vona2/mech/M1700000000/" data-head-category-code="M1700000000">Doors, Cabinet Hardware</a></li>
                            <li id="categoryChild_M1200000000"><a href="/vona2/mech/M1200000000/" data-head-category-code="M1200000000">Springs, Shock Absorbers</a></li>
                            <li id="categoryChild_M1800000000"><a href="/vona2/mech/M1800000000/" data-head-category-code="M1800000000">Adjusting, Fastening,  Magnets</a></li>
                            <li id="categoryChild_M1300000000"><a href="/vona2/mech/M1300000000/" data-head-category-code="M1300000000">Antivibration, Soundproofing Materials, Safety Products</a></li>
                        </ul>
                        <p class="image" style="background-image: url(&quot;//misumi.scene7.com/is/image/misumi/meganavi_vn_mech?wid=520&amp;hei=200&quot;);"></p>
                        <div class="category-list-bottom-link"><a href="/vona2/mech/">All Automation Components</a></div>

                    </div>
                </dd>
                <dd id="_screw" class="mech_screw">
                    <a href="/vona2/mech_screw/" class="link">
                        <span>Linh kiện siết</span>
                    </a>
                    <div class="category-list-box">
                        <p class="subtitle"><span>Linh kiện siết</span></p>
                        <p class="category-list-caption">A good selection of accessories such as screws, bolts, washers and nuts that you may need for your daily engineering usage.</p>
                        <ul>
                            <li id="categoryChild_M3301000000"><a href="/vona2/mech_screw/M3301000000/" data-head-category-code="M3301000000">Screws, Bolts</a></li>
                            <li id="categoryChild_M3308000000"><a href="/vona2/mech_screw/M3308000000/" data-head-category-code="M3308000000">Screws for Building Materials</a></li>
                            <li id="categoryChild_M3302000000"><a href="/vona2/mech_screw/M3302000000/" data-head-category-code="M3302000000">Washers</a></li>
                            <li id="categoryChild_M3303000000"><a href="/vona2/mech_screw/M3303000000/" data-head-category-code="M3303000000">Nuts</a></li>
                            <li id="categoryChild_M3307000000"><a href="/vona2/mech_screw/M3307000000/" data-head-category-code="M3307000000">Anchors</a></li>
                            <li id="categoryChild_M3306000000"><a href="/vona2/mech_screw/M3306000000/" data-head-category-code="M3306000000">Rivet</a></li>
                            <li id="categoryChild_M3304000000"><a href="/vona2/mech_screw/M3304000000/" data-head-category-code="M3304000000">Insert</a></li>
                            <li id="categoryChild_M3310000000"><a href="/vona2/mech_screw/M3310000000/" data-head-category-code="M3310000000">Tools</a></li>
                            <li id="categoryChild_M1803000000"><a href="/vona2/mech_screw/M1803000000/" data-head-category-code="M1803000000">Washers, Collars</a></li>
                            <li id="categoryChild_M1801000000"><a href="/vona2/mech_screw/M1801000000/" data-head-category-code="M1801000000">Shims</a></li>
                            <li id="categoryChild_M1806000000"><a href="/vona2/mech_screw/M1806000000/" data-head-category-code="M1806000000">Hair Pins, Cotter Pins</a></li>
                            <li id="categoryChild_M1808000000"><a href="/vona2/mech_screw/M1808000000/" data-head-category-code="M1808000000">Machine Keys</a></li>
                            <li id="categoryChild_M1809000000"><a href="/vona2/mech_screw/M1809000000/" data-head-category-code="M1809000000">Retaining Rings</a></li>
                            <li id="categoryChild_M3305000000"><a href="/vona2/mech_screw/M3305000000/" data-head-category-code="M3305000000">Screw Plugs</a></li>
                        </ul>
                        <p class="image" style="background-image: url(&quot;//misumi.scene7.com/is/image/misumi/meganavi_vn_mech_screw?wid=520&amp;hei=200&quot;);"></p>
                        <div class="category-list-bottom-link"><a href="/vona2/mech_screw/">All Fasteners</a></div>
                    </div>
                </dd>
            </dl>
        </div>
    </div>
</div>