<div class="product-category-item">
    <a href="/vona2/mech/M0100000000/?bid=bid_vn_m_mech_20161028_1004_1">
        <span class="product-category-item-title">Linear Motion</span>
        <p>Wide variety of linear shafts, guides, bushings &amp; more.</p>
        <img src="http://vn.misumi-ec.com/operation/top/img/sale/top_bnr_product_201602_01.png" alt="Linear Motion">
    </a>
</div>
