@model Upup.Models.Product
<div class="product-category-item">
    <a target="_blank" href="/Product/Index/@Model.Id">
        <span class="product-category-item-title lang-vi">@Model.Name</span>
        <span class="product-category-item-title lang-en">@Model.Name_en</span>
        @*<p class="lang-vi">@Model.Description</p>
            <p class="lang-en">@Model.Description_en</p>*@
        <span class="img-block">
            <img src="/Images/products/@Model.ImageUrl">
        </span>
    </a>
</div>
